{% extends 'events/base_events.html' %}
{% load jalali_tags %}

{% block events_content %}
<h2 class="mb-4">لیست رویدادها</h2>
<a href="{% url 'events:event_add' %}" class="btn btn-primary mb-3">افزودن رویداد جدید</a>
{% if events %}

    <div class="row">
        <div class="col-xl-12 mb-30">
          <div class="card card-statistics h-100">
           <div class="card-body">
              <div class="table-responsive">
              <table class="table center-aligned-table mb-10 text-center">
                <thead>
                  <tr class="text-dark">
                 <th>نام رویداد</th>
                <th>دسته بندی</th>
                <th>بازه تکرار</th>
                <th>اولین رویداد</th>
                <th>آخرین رویداد</th>
                <th>وضعیت</th>
                <th>عملیات</th>
                  </tr>
                </thead>
                <tbody>
{% for event in events %}
            <tr>
                <td class="text-dark"><a href="{% url 'events:event_detail' event.pk %}"><h5>{{ event.name }}</h5></a></td>
                <td>{{ event.category.name|default:"-" }}</td>
                <td>{{ event.get_repeat_interval_display }}</td>
                <td>{{ event.first_occurrence|to_jalali:'%Y/%m/%d' }}</td>
                <td>{{ event.last_occurrence|to_jalali:'%Y/%m/%d'|default:"-" }}</td>
                <td>{% if event.is_active %}<label class="btn btn-sm btn-success">فعال</label>{% else %}<label class="btn btn-sm btn-warning">غیر فعال</label>{% endif %}</td>
                <td>
                    <a href="{% url 'events:event_detail' event.pk %}" class="btn btn-sm btn-info">جزئیات</a>
                    <a href="{% url 'events:event_edit' event.pk %}" class="btn btn-sm btn-warning">ویرایش</a>
                    <a href="{% url 'events:event_delete' event.pk %}" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
            {% endfor %}
                </tbody>
              </table>
            </div>
           </div>
          </div>
        </div>
      </div>


{% else %}
<div class="alert alert-info" role="alert">
    هیچ رویدادی یافت نشد.
</div>
{% endif %}
{% endblock %}