# Ignore SQLite database files
db.sqlite3

# Ignore all migrations folders in any subdirectories
**/migrations/*
*/migrations/
 */migrations/*

# Ignore Django static files
static_cdn/static_root/
# Or if you have a top-level staticfiles directory
# staticfiles/