{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    {% load jalali_tags %}

    <style>
        .circle-progress .in .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .circle-progress .in .value {
            font-size: 20px; /* تنظیم اندازه متن */
        }

        .category-btn {
            width: 125px; /* عرض دکمه‌ها را تنظیم می‌کند */
            margin-bottom: 10px; /* فاصله بین خطوط را تنظیم می‌کند */
        }


    </style>
    <style>
        .calendar-table .fc-day-top {
            position: relative; /* برای قرار دادن فرزندان */
            padding: 5px; /* کمی فاصله برای زیبایی */
        }

        .calendar-table .fc-day-number {
            font-weight: bold;
            display: block;
            margin: 0;
            padding: 0; /* لغو حاشیه */
            text-align: left; /* تراز چپ */
        }

        .calendar-table .fc-recive-number,
        .calendar-table .fc-pay-number {
            font-size: 1.2rem; /* اندازه متن */
            display: block; /* تقسیم نمایش به سطرهای جدید */
        }

        .calendar-table .fc-recive-number {
            color: #007bff; /* رنگ سبد خرید */
            text-align: right; /* تراز راست برای شماره دریافتی */
        }

        .calendar-table .fc-pay-number {
            color: #df0808; /* رنگ  */
            text-align: right; /* تراز راست برای شماره پرداختی */
        }

        .calendar-table th {
            border: 1px solid #fdd49a;
            background-color: transparent !important; /* حذف رنگ پس‌زمینه */
        }
    </style>
    <style>
        .small-logo {
            width: 20px; /* تنظیم اندازه کوچک لوگو */
            height: auto;
        }
    </style>





    <div class="content-wrapper">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-block">
                        <h4 class="card-title text-facebook pb-0 border-0">{{ title }} </h4>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                        <li class="breadcrumb-item"><a href="/" class="default-color"> خانه</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>

                    </ol>
                </div>
            </div>
        </div>
        <!-- ردیف اول خلاصه ها -->
        <div class="row">
            <!-- خط بدهی ها -->
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-primary rounded-circle">
    <span class="text-white">
    <i class="fa fa-download highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark">مجموع بدهکارها</p>
                                <h4>
                                        {{ master_data.total_negative_balance|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-warning rounded-circle">
    <span class="text-white">
    <i class="fa fa fa-address-book-o highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark"> تعداد بدهکار ها </p>
                                <h4>

                                        {{ master_data.num_creditors|intcomma:False }} مورد
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-danger rounded-circle">
    <span class="text-white">
    <i class="fa fa-search-minus highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark"> بیشترین بدهی</p>
                                <h4>
                                        {{ master_data.min_overall_credit|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-danger rounded-circle">
    <span class="text-white">
    <i class="fa  fa fa-hourglass-end highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark">بار مالی بدهکاران</p>
                                <h4>
                                        {{ master_data.total_nagative_barmali|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- خط طلب ها -->
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-success rounded-circle">
    <span class="text-white">
    <i class="fa fa-upload highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark">مجموع بستانکارها</p>
                                <h4>
                                        {{ master_data.total_positive_balance|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-secondary rounded-circle">
    <span class="text-white">
    <i class="fa fa fa-id-badge highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark"> تعداد بستانکارها </p>
                                <h4>

                                        {{ master_data.num_debtors|intcomma:False }} مورد
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-warning rounded-circle">
    <span class="text-white">
    <i class="fa fa-search-plus highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark"> بیشترین طلب</p>
                                <h4>
                                        {{ master_data.max_overall_debt|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-info rounded-circle">
    <span class="text-white">
    <i class="fa  fa fa-hourglass-end highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark"> کمک مالی بستانکاران</p>
                                <h4>
                                        {{ master_data.total_positive_barmali|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- خط کلی -->

            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left icon-box bg-info rounded-circle">
    <span class="text-white">
    <i class=" fa fa-balance-scale highlight-icon" aria-hidden="true"></i>
    </span>
                            </div>
                            <div class="float-right text-right">
                                <p class="card-text text-dark">بالانس کلی</p>
                                <h4 style="direction: ltr">
                                        {{ master_data.total_balance|intword }} تومان
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ردیف جدول طلب و بدهی -->
        <div class="row">
            <div class="col-md-12 mb-30">
                <div class="col-xl-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="table-responsive mt-15 ">
                                <h5 class="card-title pb-0 border-0">{{ title }}</h5>
                                <div class="table-responsive">
                                    <table id="table"
                                           class="table-striped"
                                           data-toggle="table"
                                           data-locale="fa-IR"
                                           data-search="true"
                                           data-show-columns="true"
                                           data-show-export="true"
                                           data-show-refresh="true"
                                           data-show-columns-toggle-all="true"
                                           data-show-pagination-switch="true"
                                           data-show-toggle="true"
                                           data-show-fullscreen="true"
                                           data-buttons="buttons"
                                           data-search-align="left"
                                           data-buttons-class="primary"
                                           data-pagination="true"
                                           data-show-columns-search="true"
                                           data-show-footer="true"
                                           data-page-size="100"
                                           data-remember-order="true"
                                           data-sortable="true"
                                           data-show-search-clear-button="true"
                                           data-sort-name="moin_code"
                                           data-sort-order="asc"
                                            {#                                           data-sort-order="desc"#}
                                           data-filter-control="true"
                                           data-show-print="true"
                                           data-export-data-type="all"
                                           data-export-types='["excel"]'>
                                        <thead>
                                        <tr class="tr-class-1">
                                            <th></th>
                                            <th data-field="moin_code" class="card-text text-center"
                                                data-sortable="true">کد
                                            </th>
                                            <th data-field="moin_name" class="card-text text-center"
                                                data-sortable="true">نام
                                            </th>

                                            <th data-field="total_positive_balance" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">مجموع بستانکاری
                                            </th>
                                            <th data-field="total_negative_balance" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">مجموع بدهکاری
                                            </th>
{                                            <th data-field="total_positive_bar_mali" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">مجموع بار مالی بستانکار
                                            </th>
{                                            <th data-field="total_negative_bar_mali" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">مجموع بار مالی بدهکار
                                            </th>
{% if is_kol %}
                                            <th data-field="num_debtors" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">تعداد بستانکاران
                                            </th>
                                            <th data-field="num_creditors" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                                data-footer-formatter="priceFormatter">تعداد بدهکاران
                                            </th>
                                            <th data-field="max_overall_debt" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly">بیشترین طلب یک
                                                بستانکار
                                            </th>
                                            <th data-field="min_overall_credit" class="card-text text-center"
                                                data-sortable="true" data-sorter="numericOnly"
                                            >بیشترین بدهی یک بدهکار
                                            </th>

{% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in table1 %}
                                            <tr>
                                                <td>
                                                    {% if is_kol %}
                                                    <a href="/jariashkhas/m/{{ item.code }}"
                                                       target="_blank">
                                                        <button type="button"
                                                                class="btn btn-sm btn-success btn-fixed-width">
                                                            <i class="ti-list pr-1"></i> جزئیات
                                                        </button>
                                                    </a>
                                                    <a href="/balance-sheet-tafsili/{{ acc_year }}/103/{{ item.code }}/"
                                                       target="_blank">
                                                        <button type="button"
                                                                class="btn btn-sm btn-primary btn-fixed-width">
                                                            <i class="ti-wallet pr-1"></i> تراز {{ acc_year }}
                                                        </button>
                                                    </a>
                                                    {% else %}
                                                      <a href="/acc/jariashkhas/moshtari/{{ item.code }}"
                                                       target="_blank">
                                                        <button type="button"
                                                                class="btn btn-sm btn-success btn-fixed-width">
                                                            <i class="ti-user pr-1"></i>حساب شخص
                                                        </button>
                                                    </a>

                                                    <a href="/sanad_total/{{ acc_year }}/103/{{ m_code }}/{{ item.code }}/"
                                                       target="_blank">
                                                        <button type="button"
                                                                class="btn btn-sm btn-primary btn-fixed-width">
                                                            <i class="ti-wallet pr-1"></i> اسناد {{ acc_year }}
                                                        </button>
                                                    </a>


                                                    {% endif %}

                                                </td>
                                                <td class="card-text text-center">{{ item.code }}</td>
                                                <td class="card-text text-center">{{ item.name }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.total_positive_balance|floatformat:0|intcomma:False }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.total_negative_balance|floatformat:0|intcomma:False }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.total_positive_bar_mali|floatformat:0|intcomma:False }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.total_nagative_bar_mali|floatformat:0|intcomma:False }}</td>
                                                {% if is_kol %}

                                                <td class="card-text text-center">{{ item.num_debtors }}</td>
                                                <td class="card-text text-center">{{ item.num_creditors }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.max_overall_debt|floatformat:0|intcomma:False }}</td>
                                                <td class="card-text text-center"
                                                    style="direction: ltr">{{ item.min_overall_credit|floatformat:0|intcomma:False }}</td>
{% endif %}

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {#    </div>#}




















{% endblock %}





{% block myjs %}

    <!-- نمودار میله ای چکهای ماهانه -->

    <!--  اضافه کردن دکمه زیر نمودار -->
    <script>
        var labels = [
            {% for item in chartmahanedata %}
                '{{ item.month_name }}',
            {% endfor %}
        ];

        var originalDataValues = [
            {% for item in chartmahanedata %}
                {{ item.total_count }},
            {% endfor %}
        ];

        var dataValues = originalDataValues.slice();

        var backgroundColors = [
            'rgba(128, 128, 128, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(128, 0, 128, 0.2)'
        ];

        var borderColors = backgroundColors.map((color) => color.replace('0.2', '1'));

        var data = {
            labels: labels,
            datasets: [{
                label: 'چک‌های ماهانه',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        var options = {
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            onClick: function (event) {
                var chart = Chart.getChart('ChartMahaneh');
                var activePoints = chart.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
                if (activePoints.length) {
                    var index = activePoints[0].index;
                    // حذف میله موقت
                    chart.data.datasets[0].data[index] = null;
                    chart.update();
                }
            }
        };

        var myChart = new Chart(document.getElementById("ChartMahaneh"), {
            type: 'bar',
            data: data,
            options: options
        });

        // اضافه کردن رویداد کلیک به دکمه
        document.getElementById('resetButton').addEventListener('click', function () {
            myChart.data.datasets[0].data = originalDataValues.slice(); // بازگرداندن داده‌ها به مقدار اصلی
            myChart.update();
        });

        // اضافه کردن کلیک روی عنوان برای بازگرداندن همه میله‌ها
        document.querySelector('canvas').addEventListener('click', function (event) {
            var activePoints = myChart.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
            if (!activePoints.length) {
                myChart.data.datasets[0].data = originalDataValues.slice();
                myChart.update();
            }
        });
    </script>


    <!-- نمودار دونات فروش دسته ها -->
    <script>
        var labels = [
            {% for item in donat_forosh_data %}
                '{{ item.name }}',
            {% endfor %}
        ];
        var dataValues = [
            {% for item in donat_forosh_data %}
                {{ item.count }},
            {% endfor %}
        ];


        var data = {
            labels: labels,
            datasets: [{
                label: 'سهم فروش زیر مجموعه',
                data: dataValues,
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                    window.chartColors.purple,
                ],
                {#borderColor: borderColors,#}
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'bottom',
            },
            title: {
                display: false,
                text: 'نمودار دونات'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        {#scales: {#}
        {#    y: {#}
        {#        beginAtZero: true#}
        {#    }#}
        {#}#}
        }
        ;


        drawChart('donat-forosh', 'doughnut', data, options);
    </script>


    <script src="{% static 'js/plugins/jquery-circle-progress/circle-progress.min.js' %}"></script>
    <script>
        function getColor(value) {

            if (value <= 1 / 12) {
                return ["#00FF00", "#00FF00"];
            } else if (value <= 2 / 12) {
                return ["#FFFF00", "#FFFF00"];
            } else if (value <= 3 / 12) {
                return ["#FFA500", "#FFA500"];
            } else {
                return [

                    "#FF0000", "#FF0000"];
            }
        }

        var value = {{ rosobper }};

        $('#circle1').circleProgress({
            value: value,
            size: 80,
            fill: {
                gradient: getColor(value)
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;

        $('#circle2').circleProgress({
            {#value: 0.25,#}
            value: {{ rankper }},
            size: 80,
            fill: {
                gradient: ["#EC4433", "#FE9500"]
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;
        $('#circle3').circleProgress({
            {#value: {{ rosobper }},#}
            value: .0016556291390728,
            size: 80,
            fill: {
                gradient: ["#00CDFF", "#1E74FD"]
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;
    </script>




{% endblock %}


{% block date %}
    <script src="{% static 'js/table1/tableExport.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-locale-all.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/table1/natural-sorting.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-print.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.plugin.autotable.js' %}"></script>


    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>#}



    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>#}


    <script>
        var $table = $('#table');
        var totalMandah = 0; // متغیر برای ذخیره مجموع مانده

        $(function () {
            $table.bootstrapTable();
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده هنگام بارگذاری جدول
        });

        function priceFormatter(data) {
            var field = this.field;
            console.log("Data received for priceFormatter:", data);
            var result = data.map(function (row) {
                var valueString = row[field].replace(/,/g, ''); // حذف کاماها
                var value = parseFloat(valueString);
                console.log("Processing row:", row);
                console.log("Parsed value:", value);
                return isNaN(value) ? 0 : value;
            }).reduce(function (sum, i) {
                console.log("Current sum:", sum);
                return sum + i;
            }, 0);
            console.log("Final result for priceFormatter:", result);
            totalMandah = result; // ذخیره مجموع مانده
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده
            return result.toLocaleString('fa-IR'); // نمایش با کاما به صورت 3 تا 3 تا
        }

        function updateTotalMandah() {
            $('#total-mandah').text(totalMandah.toLocaleString('fa-IR'));
        }
    </script>




{% endblock %}


{% block jscal %}
    <script>

        $(document).ready(function () {
            var currentYear = {{ year }};
            var currentMonth = {{ month }};
            var url = '/acc/cheques_pay_total';

            console.log("Initial setup");
            console.log("Current Year: " + currentYear);
            console.log("Current Month: " + currentMonth);
            console.log("Initial URL: " + url);

            function loadCalendar(month, year) {
                console.log("Loading calendar for month: " + month + ", year: " + year);
                console.log("URL being used for AJAX call: " + url);

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {month: month, year: year},
                    success: function (data) {
                        console.log("AJAX call success");
                        $('#calendarf').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading calendar: ', error);
                        console.error('XHR:', xhr);
                        console.error('Status:', status);
                    }
                });
            }

            $('#prev-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 1) {
                    currentMonth = 12;
                    currentYear -= 1;
                } else {
                    currentMonth -= 1;
                }
                console.log("Previous month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });

            $('#next-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 12) {
                    currentMonth = 1;
                    currentYear += 1;
                } else {
                    currentMonth += 1;
                }
                console.log("Next month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'click',  // تنظیم برای فعال‌سازی فقط با کلیک
                placement: 'top',
                html: true
            });

            // بستن Popover زمانی که در جای دیگری کلیک شود
            $(document).on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    // اگر روی عنصر Popover کلیک نشده باشد
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });
    </script>

{% endblock %}


