{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">

    <section class="height-100vh d-flex align-items-center page-section-ptb login"
             style="background-image: url({% static 'images/login-bg.jpg'%});">



        <div class="container">
            <div class="row justify-content-center no-gutters vertical-align">
                <div class="col-lg-4 col-md-6 login-fancy-bg bg"
                     style="background-image: url({% static 'images/login-inner-bg.jpg'%});">
                    <div class="login-fancy">
                        <h4 class="text-white mb-20">فروشگاه سرای یاس مجلل</h4>
                        <p class="mb-20 text-white">داشبورد اطلاعات مدیریتی</p>
                        <ul class="list-unstyled  pos-bot pb-30">
{#                            <li class="list-inline-item"><a class="text-white" href="#"> شرایط استفاده</a></li>#}
{#                            <li class="list-inline-item"><a class="text-white" href="#"> حریم خصوصی</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 bg-white">
                    <div class="login-fancy pb-40 clearfix">
                        <h3 class="mb-30">وارد سیستم شوید</h3>


<!-- login.html -->
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.mobile_number.label }}
        {{ form.mobile_number }}
        {% for error in form.mobile_number.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </div>

    <button type="submit" class="button"><span>ورود</span></button>
    <p><a href="{% url 'forgot_password' %}">فراموشی رمز</a></p>
</form>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}




