{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>.btn-fixed-width { width: 120px; text-align: right; }</style>
<div class="content-wrapper">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="card-title text-facebook pb-0 border-0">
                    لیست فاکتورهای برگشتی سال {{ year }} - {{ detail_name }}
                </h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active">فاکتورهای برگشتی</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="table" class="table-striped" data-toggle="table" data-locale="fa-IR"
                                data-search="true" data-show-columns="true" data-show-export="true"
                                data-pagination="true" data-page-size="100" data-sortable="true">
                                <thead>
                                    <tr>
                                        <th data-field="code_factor" class="text-center">کد فاکتور</th>
                                        <th data-field="radif" class="text-center">ردیف</th>
                                        <th data-field="tarikh" class="text-center">تاریخ</th>
                                        <th data-field="l1" class="text-center">سطح 1</th>
                                        <th data-field="l2" class="text-center">سطح 2</th>
                                        <th data-field="l3" class="text-center">سطح 3</th>
                                        <th data-field="code_kala" class="text-center">کد کالا</th>
                                        <th data-field="name_kala" class="text-center">نام کالا</th>
                                        <th data-field="count" class="text-center" data-sorter="numericOnly">تعداد برگشتی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in factors %}
                                    <tr>
                                        <td class="text-center">{{ item.code_factor }}</td>
                                        <td class="text-center">{{ item.radif }}</td>
                                        <td class="text-center">{{ item.backfactor.pdate }}</td>
                                        <td class="text-center">{{ item.kala.category.parent.parent.name }}</td>
                                        <td class="text-center">{{ item.kala.category.parent.name }}</td>
                                        <td class="text-center">{{ item.kala.category.name }}</td>
                                        <td class="text-center">{{ item.code_kala }}</td>
                                        <td class="text-center">{{ item.kala.name }}</td>
                                        <td class="text-center">{{ item.count|floatformat:0|intcomma:False }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block date %}
<script src="{% static 'js/table1/tableExport.min.js' %}"></script>
<script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
<!-- سایر اسکریپت‌های جدول -->
{% endblock %}