{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <style>
        /* این استایل ها فقط برای این صفحه اعمال می شوند */
        .category-btn {
            width: 300px; /* عرض دکمه‌ها را تنظیم می‌کند */
            margin-bottom: 10px; /* فاصله بین خطوط را تنظیم می‌کند */
        }

        /* CSS برای کنترل اندازه نمودار */
        .chart-container {
            position: relative;
            width: 100%; /* می تواند عرض ثابتی هم باشد */
            height: 450px; /* ارتفاع دلخواه برای نمودار ترکیبی */
            margin-bottom: 30px;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        /* اگر فونت IRANSans را سراسری در _MainLayout تنظیم نکرده‌اید، اینجا اضافه کنید */
        body {
            font-family: 'IRANSans', Tahoma, sans-serif;
            /* direction: rtl;  این احتمالا در _MainLayout تنظیم شده است */
            /* text-align: right; این احتمالا در _MainLayout تنظیم شده است */
        }

        h5.card-title, h6.card-title {
            text-align: right;
            margin-bottom: 10px;
        }

        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>


    <div class="content-wrapper">
        <div class="page-title">


            <div class="row">
                <div class="col-sm-6">
                    <div class="d-block">
                        <h4 class="card-title text-facebook pb-0 border-0">گزارش جزئیات فروش
                            سال {{ acc_year }} - {{ detail_name }}</h4>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                        <li class="breadcrumb-item"><a href="/" class="default-color"> خانه</a></li>
                        <li class="breadcrumb-item active">گزارش جزئیات فروش {{ acc_year }}</li>
                    </ol>
                </div>
            </div>

            <!-- دکمه سطوح -->
            <div class="col-xl-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        {#                        <h5 class="card-title">سطح کل</h5>#}
                        <div class="text-center">
                            {% for l in level1 %}
                                {% if l == cat1 %}
                                    <a href="/budget/sale/detail/1/{{ l.id }}">
                                        <button type="button"
                                                class="btn btn-success category-btn">{{ l.name }}</button>
                                    </a>
                                {% else %}
                                    <a href="/budget/sale/detail/1/{{ l.id }}">
                                        <button type="button"
                                                class="btn btn-secondary category-btn">{{ l.name }}</button>
                                    </a>
                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-xl-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="text-center">
                            {% for l in level2 %}
                                {% if l == cat2 %}
                                    <a href="/budget/sale/detail/2/{{ l.id }}">
                                        <button type="button"
                                                class="btn btn-success category-btn">{{ l.name }}</button>
                                    </a>
                                {% else %}
                                    <a href="/budget/sale/detail/2/{{ l.id }}">
                                        <button type="button"
                                                class="btn btn-secondary category-btn">{{ l.name }}</button>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>
            {% if level > 1 %}
                <div class="col-xl-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="text-center">
                                {% for l in level3 %}
                                    {% if l == cat3 %}
                                    <a href="/budget/sale/detail/3/{{ l.id }}">
                                            <button type="button"
                                                    class="btn btn-success category-btn">{{ l.name }}</button>
                                        </a>
                                    {% else %}
                                    <a href="/budget/sale/detail/3/{{ l.id }}">
                                            <button type="button"
                                                    class="btn btn-secondary category-btn">{{ l.name }}</button>
                                        </a>
                                    {% endif %}
                                {% endfor %}

                            </div>

                        </div>

                    </div>
                </div>
            {% endif %}



            <!-- ردیف خلاصه -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-primary rounded-circle">
    <span class="text-white">
    <i class="fa fa-calendar highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark">کل عملکرد سال قبل</p>
                                    <h4>{{ master_dat.by_sanads|intword }} تومان </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-danger rounded-circle">
    <span class="text-white">
    <i class="fa fa-flag-checkered highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark">کل بودجه امسال</p>
                                    <h4>{{ master_dat.cy_budget|intword }} تومان </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-info rounded-circle">
    <span class="text-white">
    <i class="fa fa-info highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> ضریب بودجه </p>
                                    <h4>{{ master_dat.budget_rate|floatformat:2|intcomma:False }} </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">#}
{#                    <div class="card card-statistics h-100">#}
{#                        <div class="card-body">#}
{#                            <div class="clearfix">#}
{#                                <div class="float-left icon-box bg-success rounded-circle">#}
{#    <span class="text-white">#}
{#    <i class="fa fa- fa-spinner fa-spin highlight-icon" aria-hidden="true"></i>#}
{#    </span>#}
{#                                </div>#}
{#                                <div class="float-right text-right">#}
{#                                   <a href="/budget/sale/detail/3/408" target="_blank">#}
{#                                                            <button type="button" class="btn btn-sm btn-success btn-fixed-width">#}
{#                                                                <i class="ti-bar-chart pr-1"></i> نمودار عملکرد#}
{#                                                            </button>#}
{#                                                        </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-success rounded-circle">
    <span class="text-white">
    <i class="fa fa- fa-spinner fa-spin highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> عملکرد امسال </p>
                                    {#                                    <h4>{{ master_dat.cy_sanads|floatformat:1|intcomma:False }} میلیون تومان </h4>#}
                                    <h4>{{ master_dat.cy_sanads|intword }} تومان </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ردیف گیج -->
            <div class="row">
                    <div class="col-xl-6 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="table-responsive mt-15 ">
                                    <h5 class="card-title pb-0 border-0">عملکرد با آهنگ سال گذشته</h5>
                                </div>

<div id="chartdiv" style="width: 100%; height: 400px;"></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="table-responsive mt-15 ">
                                    <h5 class="card-title pb-0 border-0">عملکرد به تناسب زمان</h5>
                                </div>

<div id="chartdiv2" style="width: 100%; height: 400px;"></div>


                            </div>
                        </div>
                    </div>
            </div>


            <!-- ردیف نمودار -->

            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="col-xl-12 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="table-responsive mt-15 ">
                                    <h5 class="card-title pb-0 border-0">عملکرد بودجه هزینه ای
                                        برای: {{ detail_name }}</h5>
                                </div>

                                <div class="chart-container ">
                                    <canvas id="budgetChart"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block myjs %}
    <script>
        // دریافت داده‌ها از View
        var chartLabels = {{ chart_labels|safe }};
        var chart1Data = {{ chart1_data|safe }};
        var chart2Data = {{ chart2_data|safe }};
        var chart3Data = {{ chart3_data|safe }};
        var chart4Data = {{ chart4_data|safe }};
        var chart5Data = {{ chart5_data|safe }};

        var ctx = document.getElementById('budgetChart').getContext('2d');

new Chart(ctx, {
    type: 'line',
    data: {
        labels: chartLabels,
        datasets: [
            {
                label: "عملکرد سال گذشته",
                data: chart1Data,
                borderColor: "blue",
                fill: false,
                pointRadius: 0
            },
            {
                label: "عملکرد سال جاری",
                data: chart2Data,
                borderColor: "green",
                fill: false,
                pointRadius: 0
            },
            {
                label: "بودجه با آهنگ سال گذشته",
                data: chart3Data,
                borderColor: "red",
                fill: false,
                pointRadius: 0
            },
            {
                label: "بودجه بر اساس زمان",
                data: chart4Data,
                borderColor: "teal",
                fill: false,
                pointRadius: 0
            },
            {
                label: "پیش بینی",
                data: chart5Data,
                borderColor: "hsla",
                fill: false,
                pointRadius: 0
            }
        ]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            x: {title: {display: true, text: "تاریخ"}},
            y: {title: {display: true, text: "مقدار تجمعی"}}
        },
        plugins: {
            tooltip: {
                mode: 'index',
                intersect: false,
                callbacks: {
                    label: function(context) {
                        // تقسیم بر 10 میلیون، با یک رقم اعشار و افزودن " میلیون تومان"
                        var value = context.parsed.y / 10000000;
                        return context.dataset.label + ': ' + value.toFixed(1) + ' میلیون تومان';
                    },
                    title: function(tooltipItems) {
                        return 'تاریخ: ' + tooltipItems[0].label;
                    }
                }
            }
        }
    }
});



    </script>








    {#<script src="https://cdn.amcharts.com/lib/5/index.js"></script>#}
    {#<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>#}
    {#<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>#}
    {#<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>#}
    <script src="{% static 'js/amcharts/index.js' %}"></script> {# این خط am5 را تعریف می‌کند #}
    <script src="{% static 'js/amcharts/xy.js' %}"></script>
    <script src="{% static 'js/amcharts/radar.js' %}"></script>
    <script src="{% static 'js/amcharts/Animated.js' %}"></script>



    <!-- Chart code -->

<script>
  // فعال کردن RTL قبل از هر چیزی
  am5.settings = am5.settings || {};
  am5.settings.rtl = true;

  am5.ready(function () {
    // گرفتن مقادیر از Django
    let g1_value = {{ g1|default:0 }};
    let g2_value = {{ g2|default:0 }};

    console.log("g1_value:", g1_value);
    console.log("g2_value:", g2_value);

    // --------- نمودار اول در #chartdiv ---------
    // ساخت root
    var root1 = am5.Root.new("chartdiv");

    // تم اختصاصی
    var myCustomTheme1 = am5.Theme.new(root1);
    myCustomTheme1.rule("Label").setAll({
      fontFamily: "Vazirmatn, Tahoma, sans-serif",
      direction: "rtl"
    });
    root1.setThemes([
      am5themes_Animated.new(root1),
      myCustomTheme1
    ]);

    // ساخت نمودار
    var chart1 = root1.container.children.push(am5radar.RadarChart.new(root1, {
      panX: false,
      panY: false,
      startAngle: 160,
      endAngle: 380
    }));

    var axisRenderer1 = am5radar.AxisRendererCircular.new(root1, {
      innerRadius: -40
    });

    axisRenderer1.grid.template.setAll({
      stroke: root1.interfaceColors.get("background"),
      visible: true,
      strokeOpacity: 0.8
    });

    var xAxis1 = chart1.xAxes.push(am5xy.ValueAxis.new(root1, {
      maxDeviation: 0,
      min: -100,
      max: 100,
      strictMinMax: true,
      renderer: axisRenderer1
    }));

    var axisDataItem1 = xAxis1.makeDataItem({});
    var clockHand1 = am5radar.ClockHand.new(root1, {
      pinRadius: am5.percent(20),
      radius: am5.percent(100),
      bottomWidth: 40
    });
    var bullet1 = axisDataItem1.set("bullet", am5xy.AxisBullet.new(root1, {
      sprite: clockHand1
    }));
    xAxis1.createAxisRange(axisDataItem1);

    var label1 = chart1.radarContainer.children.push(am5.Label.new(root1, {
      fill: am5.color(0xffffff),
      centerX: am5.percent(50),
      textAlign: "center",
      centerY: am5.percent(50),
      fontSize: "3em",
      direction: "rtl"
    }));

    axisDataItem1.set("value", 0);
    axisDataItem1.animate({
      key: "value",
      to: g1_value,
      duration: 1000,
      easing: am5.ease.out(am5.ease.cubic)
    });

    bullet1.get("sprite").on("rotation", function () {
      var value = axisDataItem1.get("value");
      var fill = am5.color(0x000000);
      xAxis1.axisRanges.each(function (axisRange) {
        if (value >= axisRange.get("value") && value <= axisRange.get("endValue")) {
          fill = axisRange.get("axisFill").get("fill");
        }
      });
      label1.set("text", Math.round(value).toString());
      clockHand1.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic)});
      clockHand1.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic)});
    });

    // نوارهای رنگی برای نمودار اول
var bandsData = [
  { title: "بسیار عالی", color: "#006400", lowScore: 75, highScore: 100 }, // سبز تیره (DarkGreen)
  { title: "عالی", color: "#228B22", lowScore: 50, highScore: 75 },     // سبز جنگلی (ForestGreen)
  { title: "خیلی خوب", color: "#32CD32", lowScore: 25, highScore: 50 },  // سبز لیمویی (LimeGreen)
  { title: "خوب", color: "#ADFF2F", lowScore: 0, highScore: 25 },       // سبز زرد (GreenYellow) - نقطه پایان طیف سبز به زرد

  { title: "اخطار", color: "#FFD700", lowScore: -25, highScore: 0 },       // زرد طلایی (Gold) - نقطه شروع طیف زرد به قرمز
  { title: "ضعیف", color: "#FFA500", lowScore: -50, highScore: -25 },       // نارنجی (Orange)
  { title: "بحرانی", color: "#FF4500", lowScore: -75, highScore: -50 },     // نارنجی-قرمز (OrangeRed)
  { title: "فاجعه", color: "#DC143C", lowScore: -100, highScore: -75 }      // قرمز تیره (Crimson)
];


    am5.array.each(bandsData, function (data) {
      var axisRange = xAxis1.createAxisRange(xAxis1.makeDataItem({}));
      axisRange.setAll({ value: data.lowScore, endValue: data.highScore });
      axisRange.get("axisFill").setAll({
        visible: true,
        fill: am5.color(data.color),
        fillOpacity: 0.8
      });
      axisRange.get("label").setAll({
        text: data.title,
        inside: true,
        radius: 15,
        fontSize: "0.9em",
        fill: root1.interfaceColors.get("background"),
        direction: "rtl"
      });
    });

    // شروع نمودار اول
    chart1.appear(1000, 100);

    // --------- نمودار دوم در #chartdiv2 ---------
    // ساخت root
    var root2 = am5.Root.new("chartdiv2");

    // تم اختصاصی
    var myCustomTheme2 = am5.Theme.new(root2);
    myCustomTheme2.rule("Label").setAll({
      fontFamily: "Vazirmatn, Tahoma, sans-serif",
      direction: "rtl"
    });
    root2.setThemes([
      am5themes_Animated.new(root2),
      myCustomTheme2
    ]);

    // ساخت نمودار
    var chart2 = root2.container.children.push(am5radar.RadarChart.new(root2, {
      panX: false,
      panY: false,
      startAngle: 160,
      endAngle: 380
    }));

    var axisRenderer2 = am5radar.AxisRendererCircular.new(root2, {
      innerRadius: -40
    });

    axisRenderer2.grid.template.setAll({
      stroke: root2.interfaceColors.get("background"),
      visible: true,
      strokeOpacity: 0.8
    });

    var xAxis2 = chart2.xAxes.push(am5xy.ValueAxis.new(root2, {
      maxDeviation: 0,
      min: -100,
      max: 100,
      strictMinMax: true,
      renderer: axisRenderer2
    }));

    var axisDataItem2 = xAxis2.makeDataItem({});
    var clockHand2 = am5radar.ClockHand.new(root2, {
      pinRadius: am5.percent(20),
      radius: am5.percent(100),
      bottomWidth: 40
    });
    var bullet2 = axisDataItem2.set("bullet", am5xy.AxisBullet.new(root2, {
      sprite: clockHand2
    }));
    xAxis2.createAxisRange(axisDataItem2);

    var label2 = chart2.radarContainer.children.push(am5.Label.new(root2, {
      fill: am5.color(0xffffff),
      centerX: am5.percent(50),
      textAlign: "center",
      centerY: am5.percent(50),
      fontSize: "3em",
      direction: "rtl"
    }));

    axisDataItem2.set("value", 0);
    axisDataItem2.animate({
      key: "value",
      to: g2_value,
      duration: 1000,
      easing: am5.ease.out(am5.ease.cubic)
    });

    bullet2.get("sprite").on("rotation", function () {
      var value = axisDataItem2.get("value");
      var fill = am5.color(0x000000);
      xAxis2.axisRanges.each(function (axisRange) {
        if (value >= axisRange.get("value") && value <= axisRange.get("endValue")) {
          fill = axisRange.get("axisFill").get("fill");
        }
      });
      label2.set("text", Math.round(value).toString());
      clockHand2.pin.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic)});
      clockHand2.hand.animate({ key: "fill", to: fill, duration: 500, easing: am5.ease.out(am5.ease.cubic)});
    });

    // نوارهای رنگی برای نمودار دوم
    am5.array.each(bandsData, function (data) {
      var axisRange = xAxis2.createAxisRange(xAxis2.makeDataItem({}));
      axisRange.setAll({ value: data.lowScore, endValue: data.highScore });
      axisRange.get("axisFill").setAll({
        visible: true,
        fill: am5.color(data.color),
        fillOpacity: 0.8
      });
      axisRange.get("label").setAll({
        text: data.title,
        inside: true,
        radius: 15,
        fontSize: "0.9em",
        fill: root2.interfaceColors.get("background"),
        direction: "rtl"
      });
    });

    // شروع نمودار دوم
    chart2.appear(1000, 100);

    // پاکسازی در صورت نیاز
    window.addEventListener("beforeunload", function () {
      if (am5.root && am5.root.current) {
        am5.root.current.current.dispose();
        am5.root.current = null;
      }
    });
  });
</script>




{% endblock %}




