{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="content-wrapper">

    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mb-0"> {{ kala.name }}</h4>
                <br>
                <h6 class="card-title pb-0 border-0">در دسته بندی
                    :{{ kala.category.parent.parent.name }}|{{ kala.category.parent.name }}|{{ kala.category.name }}</h6>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                    <li class="breadcrumb-item"><a href="/" class="default-color">خانه</a></li>
                    <li class="breadcrumb-item active">{{ kala.name }}</li>

                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left icon-box bg-danger rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-bar-chart-o highlight-icon" aria-hidden="true"></i>
                  </span>
                        </div>
                        <div class="float-right text-right">
                            <p class="card-text text-dark">کل موجودی</p>
                            <h4>{{ mojodi.last.total_stock }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left icon-box bg-primary rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
                  </span>
                        </div>
                        <div class="float-right text-right">
                            <p class="card-text text-dark">ارزش موجودی</p>
                            <h4>{{ kala.total_arzesh|intword }} ریال</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left icon-box bg-warning rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-shopping-cart highlight-icon" aria-hidden="true"></i>
                  </span>
                        </div>
                        <div class="float-right text-right">
                            <p class="card-text text-dark">تعداد کل فروش از ابتدای دوره</p>
                            <h4>{{ kala.total_sales }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left icon-box bg-info rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-calendar-check-o highlight-icon" aria-hidden="true"></i>
                  </span>
                        </div>
                        <div class="float-right text-right">
                            <p class="card-text text-dark">نسبت فروش به موجودی از ابتدای دوره </p>
                            <h4>{{ kala.s_m_ratio|floatformat:2 }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mb-30">
            <div class="col-xl-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="d-block d-md-flex justify-content-between">
                            <div class="d-block">
                                <h5 class="card-title pb-0 border-0 ">{{ kala.name }}</h5>
                                <h6 class="card-title pb-0 border-0">در دسته بندی
                                    :{{ kala.category.parent.parent.name }}--{{ kala.category.parent.name }}--{{ kala.category.name }}</h6>
                                <h6 class="card-title pb-0 border-0">موجودی فعلی: {{ mojodi.last.total_stock }}</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-7 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <h5 class="card-title pb-0 border-0 ">میزان فروش ماهانه</h5>
<canvas id="myChart" ></canvas>

                </div>
            </div>

        </div>


    </div>

    <div class="row">
        <div class="col-md-5 mb-30">
            <div class="col-xl-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                           <div class="table-responsive mt-15 ">
                            <h6 class="card-title pb-0 border-0">موجودی انبارها</h6>
                            <table class="table center-aligned-table mb-0">
                                <thead>
                                <tr class="text-dark">
                                    <th>نام انبار</th>
                                    <th>موجودی</th>
                                    <th>قیمت میانگین</th>
                                    <th>ارزش</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for m in mojodi %}
                                    <tr class="text-dark">
                                    <td>{{ m.storage.name }}</td>
                                    <td>{{ m.stock }}</td>
                                    <td>{{ m.averageprice|intword }}</td>
                                    <td>{{ m.arzesh|intword }}</td>

                                {% endfor %}

                                </tr>


                                </tbody>
                            </table>


                        </div>
                        <div class="table-responsive mt-15 ">
                            <h6 class="card-title pb-0 border-0">گردش انبارها</h6>
                            <table class="table center-aligned-table mb-0">
                                <thead>
                                <tr class="text-dark">
                                    <th>تاریخ</th>
                                    <th>نام انبار</th>
                                    <th>شخص</th>
                                    {#                                    <th></th>#}
                                    <th></th>
                                    <th>نوع گردش</th>
                                    <th>تغییرات</th>
                                    <th>موجودی</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k in kardex %}
                                    <tr class="text-dark">
                                    <td>{{ k.pdate }}</td>
                                    <td>{{ k.storage.name }}</td>
                                    <td>{{ k.lname }}</td>
                                    <td><i class="{{ k.gardesh_type.2 }} fa-lg"></td>
                                    <td class="{{ k.gardesh_type.1 }}">{{ k.gardesh_type.0 }}</td>
                                    {% if k.count < 0 %}
                                        <h6>
                                            <td class="text-success" style="direction:ltr">
                                                <i class="mb-10 text-success float-right fa fa-arrow-down"> </i>{{ k.count }}
                                            </td>
                                        </h6>
                                    {% else %}
                                        <h6>
                                            <td class="text-primary" style="direction:ltr">
                                                <i class="mb-10 text-primary float-right fa fa-arrow-up"> </i>{{ k.count }}
                                            </td>
                                        </h6>
                                    {% endif %}
                                    <td>{{ k.stock }}</td>

                                {% endfor %}

                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="table-responsive mt-15 ">
                            <h6 class="card-title pb-0 border-0">وضعیت هم گروهی ها</h6>
                            <table class="table center-aligned-table mb-0">
                                <thead>

                                <tr class="text-dark">
                                    <th>کد کالا</th>
                                    <th>نام کالا</th>
                                    {#                                    <th>موجودی</th>#}
                                    {#                                    <th>کل فروش از ابتدای دوره</th>#}
                                    <th>نسبت فروش به میانگین موجودی</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k in rel_kala %}
                                    <tr class="text-dark clickable-row"
                                        onclick="window.open('/dash/kala/detail/{{ k.code }}', '_blank')">
                                        <td>{{ k.code }}</td>
                                        <td>{{ k.name }}</td>
                                        {#                                        <td>{{ k.latest_mojodi }}</td>#}
                                        {#                                        <td>{{ k.total_sales }}</td>#}
                                        <td>{{ k.s_m_ratio }}</td>
                                        {#                                                                            <td>{{ k.0 }}</td>#}
                                        {#                                                                                <td>{{ k.1 }}</td>#}
                                        {#                                                                                <td>{{ k.2 }}</td>#}
                                        {#                                                                                <td>{{ k.3|floatformat:2 }}</td>#}
                                        {#                                                                                <td>{{ k.4|floatformat:2 }}</td>#}
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <h5 class="card-title pb-0 border-0 ">میزان  ماهانه</h5>
                </div>
            </div>

        </div>


    </div>


{% endblock %}






{% block myjs %}

    <script>
        var labels = [
            {% for item in chart1_data %}
                '{{ item.month_name }}',
            {% endfor %}
        ];
        var dataValues = [
            {% for item in chart1_data %}
                {{ item.total_count }},
            {% endfor %}
        ];

        var backgroundColors = labels.map((label, index) => {
            var month = index % 12 + 1;
            if (month >= 1 && month <= 3) return 'rgba(75, 192, 75, 0.2)';  // سبز
            if (month >= 4 && month <= 6) return 'rgba(75, 75, 192, 0.2)';  // آبی
            if (month >= 7 && month <= 9) return 'rgba(192, 75, 75, 0.2)';  // نارنجی
            return 'rgba(192, 75, 75, 0.2)';  // قرمز
        });

        var borderColors = backgroundColors.map((color) => color.replace('0.2', '1'));

        var data = {
            labels: labels,
            datasets: [{
                label: 'موجودی',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        drawChart('myChart', 'bar', data, options);
    </script>




{% endblock %}


{% block date %}
    <script src="{% static 'js/table1/tableExport.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-locale-all.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/table1/natural-sorting.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-print.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.plugin.autotable.js' %}"></script>

{% endblock %}

