{% load static %}

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

<!-- Font -->
{#<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">#}


<!-- css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

{#<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>#}
{#<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>#}


<!-- Latest compiled and minified CSS -->
{#<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">#}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}" />


{#<link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">#}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/charts.min.css' %}">

<style> .clickable-row { cursor: pointer; /* تغییر حالت نمایشگر موس به حالت کلیک */ } </style>
<style>
.category-container {
    display : flex !important;
    align-items: center !important;
    justify-content: space-between !important; /* جایگذاری صحیح عناصر */
    width: 100% !important;
    direction: rtl !important; /* تنظیم جهت راست به چپ */
}

.expand-icon {
    flex-shrink: 0 !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: flex-start !important;
    margin-left: 5px !important; /* کاهش فاصله برای راست‌چین */
    margin-right: 10px !important; /* اضافه کردن فاصله از سمت راست */
    font-size: 10px !important; /* کاهش اندازه فونت */
    padding: 5px !important; /* کاهش padding به صفر */
    width: 20px !important; /* تنظیم عرض کمتر */
}



.category-name {
    flex-grow: 1 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-right: 10px !important; /* فاصله مناسب برای راست‌چین */
    text-align: right !important; /* تنظیم متن به راست */
}

</style>