{% load static %}
    <footer class="bg-white p-4">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center text-md-left">
{#               <p class="mb-0"> &copy; کپی رایت <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>. <a href="#"> وب مین </a> همه حقوق محفوظ است. </p>#}
          </div>
        </div>
        <div class="col-md-6">
          <ul class="text-center text-md-right">
            <li class="list-inline-item"><a href="#">کلیه حقوق متعلق به یاس مجلل </a> </li>
{#            <li class="list-inline-item"><a href="#">API استفاده از خط مشی </a> </li>#}
{#            <li class="list-inline-item"><a href="#">حریم خصوصی </a> </li>#}
          </ul>
        </div>
      </div>
    </footer>
