{% load static %}
<!-- Left Sidebar start-->
<div class="side-menu-fixed">
    <div class="scrollbar side-menu-bg">
        <ul class="nav navbar-nav side-menu" id="sidebarnav">
            <!-- menu item Dashboard-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
                    <div class="pull-left"><i class="ti-home"></i><span class="right-nav-text">داشبورد</span></div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="dashboard" class="collapse" data-parent="#sidebarnav">
                    {% if "home1" in allowed_view %}
                        <li><a href="/">داشبورد 1</a></li>
                    {% endif %}
                    {% if "calendar-total" in allowed_view %}
                        <li><a href="/calendar">تقویم</a></li>
                    {% endif %}
                    {% if "reports-daily-summary" in allowed_view %}
                        <li><a href="/reports/daily/summary">گزارش های روزانه</a></li>
                    {% endif %}
                    {% if "total_kala" in allowed_view %}
                        <li><a href="/dash/kala/total/all/all/all/all/total">موجودی کالاها</a></li>
                        <li><a href="/reports/yealy_chart/">نمودارهای سالانه</a></li>
                    {% endif %}
                
                {% if "festival-total" in allowed_view %}
                                        <li><a href="/festival_total">جشنواره</a></li>

                {% endif %}
                

                </ul>
            </li>

            {% if "categor_ydetail" in allowed_view %}
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#multi-level">
                        <div class="pull-left"><i class="ti-layers"></i><span class="right-nav-text">دسته بندی ها</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                {% for category in category_tree %}
                    <ul id="multi-level" class="collapse" data-parent="#sidebarnav">
                        <li>
                            <div class="category-container">
                                <!-- دکمه + برای گسترش زیرمجموعه -->
                                <a href="javascript:void(0);" data-toggle="collapse"
                                   data-target="#category-{{ category.id }}" class="expand-icon">
                                    <i class="ti-plus"></i>
                                </a>
                                <!-- اسم دسته بندی -->
                                <a href="/dash/kala/category/{{ category.id }}" class="category-name">
                                    {{ category.name }}
                                </a>
                            </div>
                            {% if category.children %}
                                <ul id="category-{{ category.id }}" class="collapse">
                                    {% for child in category.children %}
                                        <li>
                                            <div class="category-container">
                                                <!-- دکمه + برای گسترش زیرمجموعه‌های کودک -->
                                                <a href="javascript:void(0);" data-toggle="collapse"
                                                   data-target="#child-{{ child.id }}" class="expand-icon">
                                                    <i class="ti-plus"></i>
                                                </a>
                                                <!-- اسم زیرمجموعه -->
                                                <a href="/dash/kala/category/{{ child.id }}" class="category-name">
                                                    {{ child.name }}
                                                </a>
                                            </div>
                                            {% if child.children %}
                                                <ul id="child-{{ child.id }}" class="collapse">
                                                    {% for grandchild in child.children %}
                                                        <li>
                                                            <a href="/dash/kala/category/{{ grandchild.id }}">
                                                                {{ grandchild.name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            {% endif %}
            <!-- منو مدیریت-->
            {% if is_superuser %}
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#elements">
                        <div class="pull-left"><i class="ti-palette"></i><span
                                class="right-nav-text">مدیریت سامانه</span>
                        </div>
                        <div class="pull-right"><i class="ti-plus"></i></div>
                        <div class="clearfix"></div>
                    </a>
                    <ul id="elements" class="collapse" data-parent="#sidebarnav">
                        <li><a href="/mahaktables">جداول محک</a></li>
                        <li><a href="/tables">همه جداول</a></li>
                        <li><a href="/updatedb">عملیات آپدیت </a></li>

                    </ul>
                </li>
            {% endif %}
            <!-- منو حسابداری-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#calendar-menu">
                    <div class="pull-left"><i class="ti-layout-accordion-list"></i><span class="right-nav-text">حسابداری</span></div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="calendar-menu" class="collapse" data-parent="#sidebarnav">

                    {% if "balance_sheet_kol" in allowed_view %}
                        {% for year in years %}
                        <li><a href="{% url 'balance_sheet_kol' year %}"> تراز آزمایشی سال {{ year }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if "cheques-recieve-total" in allowed_view %}

                        {#                    <li><a href="/acc/1/1/1">تراز آزمایشی </a></li>#}
                        <li><a href="/acc/cheques_recieve_total">چک های دریافتی</a></li>
                    {% endif %}
                    {% if "cheques-pay-total" in allowed_view %}
                        <li><a href="/acc/cheques_pay_total">چک های پرداختنی</a></li>
                    {% endif %}
                
                    {% if "jari-ashkhas-moshtarian" in allowed_view %}
                        <li><a href="/acc/jariashkhas/moshtarian/total">حساب مشتریان</a></li>
                    {% endif %}
                    {% if "loan-total" in allowed_view %}
                        <li><a href="/acc/loan_total/overdue">اقساط معوق</a></li>
                        <li><a href="/acc/loan_total/soon">اقساط دارای تعجیل</a></li>
                    {% endif %}
                </ul>
            </li>
            <!-- منو جاری اشخاص-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#jariashkhas-menu">
                    <div class="pull-left"><i class="ti-user"></i><span class="right-nav-text">جاری اشخاص</span></div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="jariashkhas-menu" class="collapse" data-parent="#sidebarnav">

{#                    {% if "balance_sheet_kol" in allowed_view %}#}
                        <li><a href="{% url 'jari-ashkas-list' 'k' '0' %}">لیست کلی جاری اشخاص</a></li>
{#                    {% endif %}#}

                </ul>
            </li>



            <!-- منوی احراز هویت-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#authentication">
                    <div class="pull-left"><i class="ti-id-badge"></i><span class="right-nav-text">احراز هویت</span>
                    </div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="authentication" class="collapse" data-parent="#sidebarnav">
                    {#                    <li><a href="/login/">ورود</a></li>#}
                    <li><a href="/logout/">خروج</a></li>
                    {#            <li> <a href="lockscreen.html">صفحه قفل</a> </li>#}
                </ul>
            </li>
            <!-- منو گزارشات فروش-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#sale-menu">
                    <div class="pull-left"><i class="ti-shopping-cart"></i><span class="right-nav-text">گزارش فروش</span></div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="sale-menu" class="collapse" data-parent="#sidebarnav">

{#                    {% if "balance_sheet_kol" in allowed_view %}#}
                        <li><a href="{% url 'sale-total' %}">خلاصه فروش </a></li>
{#                    {% endif %}#}

                </ul>
            </li> 
            <!-- منو بودجه-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#budget-menu">
                    <div class="pull-left"><i class="ti-wallet"></i><span class="right-nav-text">بودجه سالانه</span></div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="budget-menu" class="collapse" data-parent="#sidebarnav">

{#                    {% if "balance_sheet_kol" in allowed_view %}#}
                        <li><a href="{% url 'budget_total' %}">برنامه و بودجه سالانه </a></li>
                        <li><a href="{% url 'budget_cost_total' %}">کلیات بودجه هزینه ای </a></li>
                        <li><a href="{% url 'budget_sale_total' %}">کلیات بودجه فروش </a></li>
{#                    {% endif %}#}

                </ul>
            </li>
                    <!-- منوی رویدادها-->
        {% if is_superuser %}
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#events">
                    <div class="pull-left"><i class="ti-calendar"></i><span class="right-nav-text">تقویم هیئت مدیره</span>
                    </div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="events" class="collapse" data-parent="#sidebarnav">
                    <li><a href="/events/categories">دسته بندی رویدادها</a></li>
                    <li><a href="/events/">لیست رویدادها</a></li>
                        <li><a href="{% url 'events:upcoming_event_details' %}">لیست برگزاری</a></li>
                        <li><a href="{% url 'events:resolutions' %}">مصوبات</a></li>

                </ul>
            </li>
        {% endif %}
            <br>
            <br>
                <a href="#">
                    <i class="ti-moon"></i>
                    <span class="right-nav-text">   حالت تیره</span>
                    <div class="form-group" style="display: inline-block; margin-left: 10px;">
                        <div class="checkbox checbox-switch switch-success">
                            <label>
                                <input type="checkbox" name="switch8" id="darkModeToggle"
                                       {% if is_dark_mode %}checked{% endif %}>
                                <span></span>
                            </label>
                        </div>
                    </div>
                </a>
            <span class="right-nav-text">آخرین آپدیت  {{ last_update_time|timesince }} قبل</span>


        </ul>

    </div>
</div>



<script>
    const toggle = document.getElementById('darkModeToggle');

    toggle.addEventListener('change', () => {
        if (toggle.checked) {
            document.body.classList.add('dark-mode-active');
        } else {
            document.body.classList.remove('dark-mode-active');
        }

        // ارسال درخواست به سرور برای ذخیره وضعیت  
        fetch('/update-dark-mode/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',  // اضافه کردن توکن CSRF  
            },
            body: JSON.stringify({is_dark_mode: toggle.checked})
        });
    });
</script>  
