{% load static %}
<!-- Left Sidebar start-->
    <div class="side-menu-fixed">
     <div class="scrollbar side-menu-bg">
      <ul class="nav navbar-nav side-menu" id="sidebarnav">
        <!-- menu item Dashboard-->
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard">
            <div class="pull-left"><i class="ti-home"></i><span class="right-nav-text">داشبورد</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
          <ul id="dashboard" class="collapse" data-parent="#sidebarnav">
            <li> <a href="dash/kala">داشبورد کالا</a> </li>
       
       
{#            <li> <a href="index-02.html">داشبورد 02</a> </li>#}
{#            <li> <a href="index-03.html">داشبورد 03</a> </li>#}
{#            <li> <a href="index-04.html">داشبورد 04</a> </li>#}
{#            <li> <a href="index-05.html">داشبورد 05</a> </li>#}
          </ul>
        </li>
        
        <li>
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#elements">
            <div class="pull-left"><i class="ti-palette"></i><span class="right-nav-text">مدیریت سامانه</span></div>
            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>
          </a>
          <ul id="elements" class="collapse" data-parent="#sidebarnav">
            <li><a href="/mahaktables">جداول محک</a></li>
            <li><a href="/updatedb">عملیات  آپدیت </a></li>
            <li><a href="/kalagroup">گروه بندی</a></li>
            <li><a href="colorpicker.html">انتخاب رنگ</a></li>
            <li><a href="dropdown.html">کرکره ای</a></li>
{#            <li><a href="lists.html">لیست ها</a></li>#}
{#            <li><a href="modal.html">مودال</a></li>#}
{#            <li><a href="nav.html">ناوبری</a></li>#}
{#            <li><a href="nicescroll.html">نایس اسکرول</a></li>#}
{#            <li><a href="pricing-table.html">جدول قیمت گذاری</a></li>#}
{#            <li><a href="ratings.html">امتیاز دهی</a></li>#}
{#            <li><a href="date-picker.html">انتخاب تاریخ</a></li>#}
{#            <li><a href="tabs.html">برگه ها</a></li>#}
{#            <li><a href="typography.html">تایپوگرافی</a></li>#}
{#            <li><a href="popover-tooltips.html">راهنمای ابزار پیش نمایش</a></li>#}
{#            <li><a href="progress.html">پیشرفت</a></li>#}
{#            <li><a href="switch.html">تعویض</a></li>#}
{#            <li><a href="sweetalert2.html">هشدار2</a></li>#}
{#            <li><a href="touchspin.html">تاچ اسپین</a></li>#}
          </ul>
        </li>
        <!-- menu item calendar-->
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#calendar-menu">#}
{#            <div class="pull-left"><i class="ti-calendar"></i><span class="right-nav-text">تقویم</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="calendar-menu" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="calendar.html">تقویم رویدادها </a> </li>#}
{#            <li> <a href="calendar-list.html">تقویم لیست</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <!-- menu item todo-->#}
{#        <li>#}
{#          <a href="todo-list.html"><i class="ti-menu-alt"></i><span class="right-nav-text">لیست برای انجام کار</span> </a>#}
{#        </li>#}
{#         <!-- menu item chat-->#}
{#         <li>#}
{#           <a href="chat-page.html"><i class="ti-comments"></i><span class="right-nav-text">چت </span></a>#}
{#         </li>#}
{#         <!-- menu item mailbox-->#}
{#        <li>#}
{#          <a href="mail-box.html"><i class="ti-email"></i><span class="right-nav-text">صندوق پستی</span> <span class="badge badge-pill badge-warning float-right mt-1">داغ</span> </a>#}
{#        </li>#}
{#        <!-- menu item Charts-->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#chart">#}
{#            <div class="pull-left"><i class="ti-pie-chart"></i><span class="right-nav-text">نمودار ها</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="chart" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="chart-js.html">Chart.js</a> </li>#}
{#            <li> <a href="chart-morris.html">نمودار موریس </a> </li>#}
{#            <li> <a href="chart-sparkline.html">نمودار اسپارک لاین</a> </li>#}
{#          </ul>#}
{#        </li>#}
{##}
{#        <!-- menu font icon-->#}
{#         <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#font-icon">#}
{#            <div class="pull-left"><i class="ti-home"></i><span class="right-nav-text">آیکون فونت</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="font-icon" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="fontawesome-icon.html">فونت Awesome</a> </li>#}
{#            <li> <a href="themify-icons.html"> آیکون Themify</a> </li>#}
{#            <li> <a href="weather-icon.html">آیکون آب و هوا</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <!-- menu title -->#}
{#        <li class="mt-10 mb-10 text-muted pl-4 font-medium menu-title">ابزارک ها، فرم ها و جداول </li>#}
{#        <!-- menu item Widgets-->#}
{#        <li>#}
{#          <a href="widgets.html"><i class="ti-blackboard"></i><span class="right-nav-text">ابزارک ها</span> <span class="badge badge-pill badge-danger float-right mt-1">59</span> </a>#}
{#        </li>#}
{#        <!-- menu item Form-->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#Form">#}
{#            <div class="pull-left"><i class="ti-files"></i><span class="right-nav-text">فرم و ویرایشگر</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="Form" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="editor.html">ویرایشگر</a> </li>#}
{#            <li> <a href="editor-markdown.html">نشانه گذاری ویرایشگر</a> </li>#}
{#            <li> <a href="form-input.html">ورودی فرم</a> </li>#}
{#            <li> <a href="form-validation-jquery.html">فرم تایید جی کوئری</a> </li>#}
{#            <li> <a href="form-wizard.html">فرم پیشرفته</a> </li>#}
{#            <li> <a href="form-repeater.html">تکرار کننده فرم</a> </li>#}
{#            <li> <a href="input-group.html">ورودی گروه</a> </li>#}
{#            <li> <a href="toastr.html">توستر</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <!-- menu item table -->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#table">#}
{#            <div class="pull-left"><i class="ti-layout-tab-window"></i><span class="right-nav-text">جدول داده</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="table" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="data-html-table.html">جدول داده html</a> </li>#}
{#            <li> <a href="data-local.html">داده های محلی</a> </li>#}
{#            <li> <a href="data-table.html">جدول داده</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="mt-10 mb-10 text-muted pl-4 font-medium menu-title">صفحات بیشتر</li>#}
{#        <!-- menu item Custom pages-->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#custom-page">#}
{#            <div class="pull-left"><i class="ti-file"></i><span class="right-nav-text">صفحات سفارشی</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="custom-page" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="projects.html">پروژه ها</a> </li>#}
{#            <li> <a href="project-summary.html">خلاصه پروژه ها</a> </li>#}
{#            <li> <a href="profile.html">پروفایل</a> </li>#}
{#            <li> <a href="app-contacts.html">مخاطبین برنامه</a> </li>#}
{#            <li> <a href="contacts.html">مخاطبین</a> </li>#}
{#            <li> <a href="file-manager.html">مدیریت فایل</a> </li>#}
{#            <li> <a href="invoice.html">فاکتور</a> </li>#}
{#            <li> <a href="blank.html">صفحه خالی</a> </li>#}
{#            <li> <a href="layout-container.html">فضای طرح بندی</a> </li>#}
{#            <li> <a href="error.html">ارور</a> </li>#}
{#            <li> <a href="faqs.html">پرسش و پاسخ</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <!-- menu item Authentication-->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#authentication">#}
{#            <div class="pull-left"><i class="ti-id-badge"></i><span class="right-nav-text">احراز هویت</span></div>#}
{#            <div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div>#}
{#          </a>#}
{#          <ul id="authentication" class="collapse" data-parent="#sidebarnav">#}
{#            <li> <a href="login.html">ورود</a> </li>#}
{#            <li> <a href="register.html">ثبت نام</a> </li>#}
{#            <li> <a href="lockscreen.html">صفحه قفل</a> </li>#}
{#          </ul>#}
{#        </li>#}
{#        <!-- menu item maps-->#}
{#        <li>#}
{#          <a href="maps.html"><i class="ti-location-pin"></i><span class="right-nav-text">نقشه ها</span> <span class="badge badge-pill badge-success float-right mt-1">06</span></a>#}
{#        </li>#}
{#        <!-- menu item timeline-->#}
{#        <li>#}
{#          <a href="timeline.html"><i class="ti-panel"></i><span class="right-nav-text">خط زمانی</span> </a>#}
{#        </li>#}
{#        <!-- menu item Multi level-->#}
{#        <li>#}
{#          <a href="javascript:void(0);" data-toggle="collapse" data-target="#multi-level"><div class="pull-left"><i class="ti-layers"></i><span class="right-nav-text">منو چند سطحی</span></div><div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div></a>#}
{#          <ul id="multi-level" class="collapse" data-parent="#sidebarnav">#}
{#          <li>#}
{#            <a href="javascript:void(0);" data-toggle="collapse" data-target="#auth">آیتم سطح 1<div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div></a>#}
{#            <ul id="auth" class="collapse">#}
{#              <li>#}
{#                <a href="javascript:void(0);" data-toggle="collapse" data-target="#login">آیتم سطح 1.1<div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div></a>#}
{#                  <ul id="login" class="collapse">#}
{#                    <li>#}
{#                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#invoice">آیتم سطح 1.1.1<div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div></a>#}
{#                    <ul id="invoice" class="collapse">#}
{#                      <li> <a href="#">آیتم سطح 1.1.1.1</a> </li>#}
{#                      <li> <a href="#">آیتم سطح 1.1.1.2</a> </li>#}
{#                    </ul>#}
{#                  </li>#}
{#                </ul>#}
{#              </li>#}
{#              <li> <a href="#">آیتم سطح 1.2</a> </li>#}
{#            </ul>#}
{#          </li>#}
{#          <li>#}
{#            <a href="javascript:void(0);" data-toggle="collapse" data-target="#error">آیتم سطح 2<div class="pull-right"><i class="ti-plus"></i></div><div class="clearfix"></div></a>#}
{#            <ul id="error" class="collapse" >#}
{#              <li> <a href="#">آیتم سطح 2.1</a> </li>#}
{#              <li> <a href="#">آیتم سطح 2.2</a> </li>#}
{#            </ul>#}
{#          </li>#}
{#        </ul>#}
{#      </li>#}

    </ul>
  </div>
</div>