{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    {% load jalali_tags %}
    {% load custom_filters %}

    <style>
        .circle-progress .in .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .circle-progress .in .value {
            font-size: 20px; /* تنظیم اندازه متن */
        }

        .category-btn {
            width: 125px; /* عرض دکمه‌ها را تنظیم می‌کند */
            margin-bottom: 10px; /* فاصله بین خطوط را تنظیم می‌کند */
        }


    </style>
    <style>
        .calendar-table .fc-day-top {
            position: relative; /* برای قرار دادن فرزندان */
            padding: 5px; /* کمی فاصله برای زیبایی */
        }

        .calendar-table .fc-day-number {
            font-weight: bold;
            display: block;
            margin: 0;
            padding: 0; /* لغو حاشیه */
            text-align: left; /* تراز چپ */
        }

        .calendar-table .fc-recive-number,
        .calendar-table .fc-pay-number {
            font-size: 1.2rem; /* اندازه متن */
            display: block; /* تقسیم نمایش به سطرهای جدید */
        }

        .calendar-table .fc-recive-number {
            color: #007bff; /* رنگ سبد خرید */
            text-align: right; /* تراز راست برای شماره دریافتی */
        }

        .calendar-table .fc-pay-number {
            color: #df0808; /* رنگ  */
            text-align: right; /* تراز راست برای شماره پرداختی */
        }

        .calendar-table th {
            border: 1px solid #fdd49a;
            background-color: transparent !important; /* حذف رنگ پس‌زمینه */
        }
    </style>
    <style>
        .small-logo {
            width: 20px; /* تنظیم اندازه کوچک لوگو */
            height: auto;
        }
    </style>




    <div class="content-wrapper">

        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-block">
                        <h5 class="card-title text-facebook pb-0 border-0">
                            {{ hesabmoshtari.person.name }} {{ hesabmoshtari.person.lname }}
                            {% if hesabmoshtari.total_mandeh > 0 %}
                                <span class="badge badge-pill badge-success">بستانکار</span>
                            {% elif hesabmoshtari.total_mandeh == 0 %}
                                <span class="badge badge-pill badge-primary">بی حساب</span>
                            {% elif hesabmoshtari.total_mandeh < 0 %}
                                <span class="badge badge-pill badge-danger">بدهکار</span>
                            {% endif %}
                        </h5>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                        <li class="breadcrumb-item"><a href="/" class="default-color"> خانه</a></li>
                        <li class="breadcrumb-item active">حساب مشتری</li>
                        <li class="breadcrumb-item active">
                            {{ hesabmoshtari.person.lname }} {{ hesabmoshtari.person.name }}
                        </li>

                    </ol>
                </div>
            </div>
            <!-- ردیف اول خلاصه ها -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-primary rounded-circle">
    <span class="text-white">
    <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark">مانده حساب</p>
                                    <h4 style="direction: ltr">{{ hesabmoshtari.total_mandeh|floatformat:0|intcomma:False }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-danger rounded-circle">
    <span class="text-white">
    <i class="fa fa-hourglass-end highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> چک های تاریخ گذسته و امروز </p>
                                    <h4>{{ total_data.pastmandeh|floatformat:0|intcomma:False }} میلیون تومان</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-success rounded-circle">
    <span class="text-white">
    <i class="fa fa-hourglass-start highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> چک های فردا به بعد </p>
                                    <h4>{{ total_data.postmandeh|floatformat:0|intcomma:False }} میلیون تومان</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-info rounded-circle">
    <span class="text-white">
    <i class="fa fa-percent highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> نسبت مجموع چکها به در آمد از فروش </p>
                                    <h4>{{ total_data.ceque_ratio|floatformat:2 }}%</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ردیف کلیات و نمودار فروش -->
            <div class="row">
                <div class="col-md-5 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body col-12">
                            <h5 class="card-title pb-0 border-0 ">خلاصه وام ها</h5>
                            <div class="table-responsive">
                                <table class="table center-aligned-table mb-10 text-center ">
                                    <thead>
                                    <tr class="text-dark">
                                        <th>ردیف</th>
                                        <th>کد وام</th>
                                        <th>تاریخ وام</th>
                                        <th>تعداد اقساط</th>
                                        <th>مبلغ اولیه</th>
                                        <th>باقیمانده</th>
                                        <th>معوق</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for loan in hesabmoshtari.loans.all %}
                                        <tr>
                                            <td><h6>{{ forloop.counter }}</h6></td>
                                            <td><h6>{{ loan.code }}</h6></td>
                                            <td><h6>{{ loan.tarikh }}</h6></td>
                                            <td><h6>{{ loan.number }}</h6></td>
                                            <td><h6>{{ loan.cost|floatformat:0|intcomma:False }}</h6></td>
                                            <td><h6>{{ loan.actual_loan_mandeh|floatformat:0|intcomma:False }}</h6></td>
                                            <td><h6>{{ loan.delayed_loan|floatformat:0|intcomma:False }}</h6></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-7 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title pb-0 border-0 ">جزئیات وام ها</h5>
                            <div class="table-responsive scrollbar max-h-380">
                                {% for loan in hesabmoshtari.loans.all %}
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table mb-10 text-center ">
                                            <thead>
                                            <tr class="text-dark">
                                                <th>کد وام</th>
                                                <th>شماره قسط</th>
                                                <th>تاریخ</th>
                                                <th> تاریخ دریافت</th>
                                                <th>مبلغ</th>
                                                <th>درصد پرداخت</th>
                                                <th>وضعیت</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for lo in loan.loandetil_set.all %}
                                                <tr>
                                                    <td>{{ loan.code }}</td>
                                                    <td>{{ lo.row }}</td>
                                                    <td>{{ lo.tarikh }}</td>
                                                    <td>{{ lo.recive_tarikh }}</td>
                                                    <td>{{ lo.cost|floatformat:0|intcomma:False }}</td>
                                                    <td>{{ lo.complete_percent|percentage }}%</td>
                                                    <td>
                                                        {% if lo.complete_percent == 1 %}
                                                            {% if lo.date < today %}
                                                                <span class="btn btn-sm btn-success">پاس</span>
                                                            {% else %}
                                                                <span class="btn btn-sm btn-info">تعجیل</span>
                                                            {% endif %}
                                                        {% elif lo.date < today %}
                                                            <span class="btn btn-sm btn-danger">معوق</span>
                                                        {% else %}
                                                            <span class="btn btn-sm btn-primary">عادی</span>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- ردیف جزئیات اسناد -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="col-xl-12 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="table-responsive mt-15 ">
                                    <h6 class="card-title pb-0 border-0">مانده حساب {{ hesabmoshtari.person.name }} {{ hesabmoshtari.person.lname }} :</h6>
                                     <h5 class="card-title pb-0 border-0"> <span id="total-mandah" class="text-primary"></span>
                                        ریال </h5>
                                    <div class="table-responsive">
                                        <table id="table"
                                               class="table-striped"
                                               data-toggle="table"
                                               data-locale="fa-IR"
                                               data-search="true"
                                               data-show-columns="true"
                                               data-show-export="true"
                                               data-show-refresh="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-buttons="buttons"
                                               data-search-align="left"
                                               data-buttons-class="primary"
                                               data-pagination="true"
                                               data-show-columns-search="true"
                                               data-show-footer="true"
                                               data-page-size="10"
                                               data-remember-order="true"
                                               data-sortable="true"
                                               data-show-search-clear-button="true"
                                                {#                                                   data-sort-name="date"#}
                                               data-sort-order="asc"
                                               data-filter-control="true"
                                               data-show-print="true"
                                               data-export-data-type="all"
                                               data-export-types='["excel"]'>
                                            <thead>
                                            <tr class="tr-class-1">
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="code"
                                                    data-filter-control="input">کد
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="radif"
                                                    data-filter-control="input">ردیف
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="date"
                                                    data-filter-control="select">تاریخ
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="kind" data-filter-control="select">نوع
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="sharh"
                                                    data-filter-control="input">شرح سند
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="bed" data-footer-formatter="priceFormatter">بدهکار
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="bes" data-footer-formatter="priceFormatter">بستانکار
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="mand1" data-footer-formatter="priceFormatter">مانده سند
                                                </th>
{#                                                <th class="card-text text-center" data-sortable="true"#}
{#                                                    data-field="mandkol"#}
{#                                                    data-filter-control="select">مانده کل#}
{#                                                </th>#}

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for s in asnad %}
                                                <tr>
                                                    <td class="card-text text-center">{{ s.code }}</td>
                                                    <td class="card-text text-center">{{ s.radif }}</td>
                                                    <td class="card-text text-center">{{ s.tarikh }}</td>
{#                                                    <td class="card-text text-center ">{{ s.kind.0 }}</td>#}
                                                    <td class="card-text text-center text-{{ s.kind.2 }}">{{ s.kind.1 }}</td>
                                                     <td class="card-text text-center ">{{ s.syscomment }}</td>
                                                    <td class="card-text text-center">{{ s.bed|floatformat:0|intcomma:False }}</td>
                                                    <td class="card-text text-center">{{ s.bes|floatformat:0|intcomma:False }}</td>
                                                    <td class="card-text text-center" style="direction: ltr">{{ s.curramount|floatformat:0|intcomma:False }}</td>
{#                                                    <td class="card-text text-center"></td>#}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>



{% endblock %}





{% block myjs %}

    <!-- نمودار میله ای چکهای ماهانه -->

    <!--  اضافه کردن دکمه زیر نمودار -->
    <script>
        var labels = [
            {% for item in chartmahanedata %}
                '{{ item.month_name }}',
            {% endfor %}
        ];

        var originalDataValues = [
            {% for item in chartmahanedata %}
                {{ item.total_count }},
            {% endfor %}
        ];

        var dataValues = originalDataValues.slice();

        var backgroundColors = [
            'rgba(128, 128, 128, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(128, 0, 128, 0.2)'
        ];

        var borderColors = backgroundColors.map((color) => color.replace('0.2', '1'));

        var data = {
            labels: labels,
            datasets: [{
                label: 'چک‌های ماهانه',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        var options = {
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            onClick: function (event) {
                var chart = Chart.getChart('ChartMahaneh');
                var activePoints = chart.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
                if (activePoints.length) {
                    var index = activePoints[0].index;
                    // حذف میله موقت
                    chart.data.datasets[0].data[index] = null;
                    chart.update();
                }
            }
        };

        var myChart = new Chart(document.getElementById("ChartMahaneh"), {
            type: 'bar',
            data: data,
            options: options
        });

        // اضافه کردن رویداد کلیک به دکمه
        document.getElementById('resetButton').addEventListener('click', function () {
            myChart.data.datasets[0].data = originalDataValues.slice(); // بازگرداندن داده‌ها به مقدار اصلی
            myChart.update();
        });

        // اضافه کردن کلیک روی عنوان برای بازگرداندن همه میله‌ها
        document.querySelector('canvas').addEventListener('click', function (event) {
            var activePoints = myChart.getElementsAtEventForMode(event, 'nearest', {intersect: true}, false);
            if (!activePoints.length) {
                myChart.data.datasets[0].data = originalDataValues.slice();
                myChart.update();
            }
        });
    </script>


    <!-- نمودار دونات فروش دسته ها -->
    <script>
        var labels = [
            {% for item in donat_forosh_data %}
                '{{ item.name }}',
            {% endfor %}
        ];
        var dataValues = [
            {% for item in donat_forosh_data %}
                {{ item.count }},
            {% endfor %}
        ];


        var data = {
            labels: labels,
            datasets: [{
                label: 'سهم فروش زیر مجموعه',
                data: dataValues,
                backgroundColor: [
                    window.chartColors.red,
                    window.chartColors.orange,
                    window.chartColors.yellow,
                    window.chartColors.green,
                    window.chartColors.blue,
                    window.chartColors.purple,
                ],
                {#borderColor: borderColors,#}
                borderWidth: 1
            }]
        };

        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'bottom',
            },
            title: {
                display: false,
                text: 'نمودار دونات'
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        {#scales: {#}
        {#    y: {#}
        {#        beginAtZero: true#}
        {#    }#}
        {#}#}
        }
        ;


        drawChart('donat-forosh', 'doughnut', data, options);
    </script>


    <script src="{% static 'js/plugins/jquery-circle-progress/circle-progress.min.js' %}"></script>
    <script>
        function getColor(value) {

            if (value <= 1 / 12) {
                return ["#00FF00", "#00FF00"];
            } else if (value <= 2 / 12) {
                return ["#FFFF00", "#FFFF00"];
            } else if (value <= 3 / 12) {
                return ["#FFA500", "#FFA500"];
            } else {
                return [

                    "#FF0000", "#FF0000"];
            }
        }

        var value = {{ rosobper }};

        $('#circle1').circleProgress({
            value: value,
            size: 80,
            fill: {
                gradient: getColor(value)
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;

        $('#circle2').circleProgress({
            {#value: 0.25,#}
            value: {{ rankper }},
            size: 80,
            fill: {
                gradient: ["#EC4433", "#FE9500"]
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;
        $('#circle3').circleProgress({
            {#value: {{ rosobper }},#}
            value: .0016556291390728,
            size: 80,
            fill: {
                gradient: ["#00CDFF", "#1E74FD"]
            }
            ,
            animation: {
                duration: 2000
            }
        })
        ;
    </script>




{% endblock %}


{% block date %}
    <script src="{% static 'js/table1/tableExport.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-locale-all.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/table1/natural-sorting.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-print.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.plugin.autotable.js' %}"></script>


    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>#}



    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/bootstrap-table.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>#}


    <script>
        var $table = $('#table');
        var totalMandah = 0; // متغیر برای ذخیره مجموع مانده

        $(function () {
            $table.bootstrapTable();
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده هنگام بارگذاری جدول
        });

        function priceFormatter(data) {
            var field = this.field;
            console.log("Data received for priceFormatter:", data);
            var result = data.map(function (row) {
                var valueString = row[field].replace(/,/g, ''); // حذف کاماها
                var value = parseFloat(valueString);
                console.log("Processing row:", row);
                console.log("Parsed value:", value);
                return isNaN(value) ? 0 : value;
            }).reduce(function (sum, i) {
                console.log("Current sum:", sum);
                return sum + i;
            }, 0);
            console.log("Final result for priceFormatter:", result);
            totalMandah = result; // ذخیره مجموع مانده
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده
            return result.toLocaleString('fa-IR'); // نمایش با کاما به صورت 3 تا 3 تا
        }

        function updateTotalMandah() {
            $('#total-mandah').text(totalMandah.toLocaleString('fa-IR'));
        }
    </script>




{% endblock %}


{% block jscal %}
    <script>

        $(document).ready(function () {
            var currentYear = {{ year }};
            var currentMonth = {{ month }};
            var url = '/acc/cheques_recieve_total';

            console.log("Initial setup");
            console.log("Current Year: " + currentYear);
            console.log("Current Month: " + currentMonth);
            console.log("Initial URL: " + url);

            function loadCalendar(month, year) {
                console.log("Loading calendar for month: " + month + ", year: " + year);
                console.log("URL being used for AJAX call: " + url);

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {month: month, year: year},
                    success: function (data) {
                        console.log("AJAX call success");
                        $('#calendarf').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading calendar: ', error);
                        console.error('XHR:', xhr);
                        console.error('Status:', status);
                    }
                });
            }

            $('#prev-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 1) {
                    currentMonth = 12;
                    currentYear -= 1;
                } else {
                    currentMonth -= 1;
                }
                console.log("Previous month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });

            $('#next-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 12) {
                    currentMonth = 1;
                    currentYear += 1;
                } else {
                    currentMonth += 1;
                }
                console.log("Next month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'click',  // تنظیم برای فعال‌سازی فقط با کلیک
                placement: 'top',
                html: true
            });

            // بستن Popover زمانی که در جای دیگری کلیک شود
            $(document).on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    // اگر روی عنصر Popover کلیک نشده باشد
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });
    </script>

{% endblock %}


