{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
    {% load jalali_tags %}
    {% load custom_filters %}

    <div class="content-wrapper">

        <div class="page-title">
            <!-- ردیف اول خلاصه ها -->

            <!-- ردیف خلاصه و جزئیات وام ها -->


            <!-- ردیف پیگیری پیگیری -->
            <div class="row">
                <!-- ردیف پیامک -->
                <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg-success">
                            <h5 class="mb-60 text-white"> </h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="avatar-top">
                                <img class="img-fluid w-25 rounded-circle " src="{% static 'images/noimage.png' %}"
                                     alt="">
                            </div>
                            <h5 class="card-title text-facebook pb-0 border-0">{{ m_name }}</h5>
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left icon-box bg-success rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-envelope highlight-icon" aria-hidden="true"></i>
                  </span>
                                        </div>
                                        <div class="float-right text-right">
                                            <h4>پیگیری پیامکی</h4>
                                        </div>
                                    </div>
                                </div>

                            <div class="social-icons color-icon mt-20">
                                <ul>
                                    {% if gh in hesabmoshtari.person %}
                                        <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                    {% endif %}
                                    {#                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                    {#                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                    {#                    <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>#}
                                    {#                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>#}
                                    {#                    <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                                </ul>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {{ sms_form.as_p }}
                                <button type="submit" name="action" value="send_sms" class="btn btn-success">ارسال پیامک
                                </button>
                            </form>


                            {#               <div class="divider mt-20"></div>#}
                            {#               <div class="row">#}
                            {#                  <div class="col-6 col-sm-4 mt-30">#}
                            {#                     <b>پروژه</b>#}
                            {#                     <h4 class="text-success mt-10">09</h4>#}
                            {#                  </div>#}
                            {#                  <div class="col-6 col-sm-4 mt-30">#}
                            {#                    <b>پیام ها </b>#}
                            {#                     <h4 class="text-danger mt-10">255</h4>#}
                            {#                  </div>#}
                            {#                  <div class="col-12 col-sm-4 mt-30">#}
                            {#                    <b>نمایش ها</b>#}
                            {#                     <h4 class="text-warning mt-10">608</h4>#}
                            {#                  </div>#}
                            {#                </div>#}
                        </div>
                    </div>
                </div>
                <!-- ردیف تلفن -->
                <div class="col-xl-4 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="p-4 text-center bg-primary">
                            <h5 class="mb-60 text-white"> </h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="avatar-top">
                                <img class="img-fluid w-25 rounded-circle " src="{% static 'images/noimage.png' %}"
                                     alt="">
                            </div>
                            <h5 class="card-title text-facebook pb-0 border-0">{{ m_name }}</h5>
                                <div class="card-body">
                                    <div class="clearfix">
                                        <div class="float-left icon-box bg-primary rounded-circle">
                  <span class="text-white">
                    <i class="fa fa-phone highlight-icon" aria-hidden="true"></i>
                  </span>
                                        </div>
                                        <div class="float-right text-right">
                                            <h4>پیگیری تلفنی</h4>
                                        </div>
                                    </div>
                                </div>
                            <div class="social-icons color-icon mt-20">
                                <ul>
                                    {% if gh in hesabmoshtari.person %}
                                        <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <form method="POST">
                                {% csrf_token %}

                                <!-- شماره تلفن -->
                                <label for="id_phone_number">شماره تلفن:</label>
                                {{ call_form.phone_number }}

                                <!-- دکمه شروع تماس (درست بعد از شماره تلفن) -->
                                <button type="button" id="start_call" class="btn btn-success mt-3">شروع تماس (0s)
                                </button>
                                <!-- دکمه انصراف -->
                                <button type="button" id="cancel_call" class="btn btn-secondary mt-3">انصراف تماس
                                </button>
                                <br>
                                <br>
                                <!-- سایر فیلدهای فرم -->
                                <label for="id_call_status">وضعیت تماس:</label>
                                {{ call_form.call_status }}

                                <label for="id_call_description">شرح تماس:</label>
                                {{ call_form.call_description }}

                                <label for="id_next_reminder_date">زمان پیگیری بعدی:</label>
                                {{ call_form.next_reminder_date }}

                                <input type="hidden" id="call_duration" name="call_duration" value="0">

                                <button type="submit" name="action" value="track_call" class="btn btn-primary mt-3">ثبت
                                    گزارش تماس
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <!-- ردیف گزارش اقساط -->
            <div class="row">

                <div class="col-xl-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title pb-0 border-0">آخرین پیگیری ها </h5>
                            <h5 class="card-title pb-0 border-0 text-warning">پیگیری بعدی{{ tracking.first.next_reminder_date|timeuntil }} دیگر </h5>
                            <div class="table-responsive scrollbar max-h-500">
                                <div class="table-responsive">


                                    <table class="table center-aligned-table mb-0">
    <thead>
        <tr class="text-dark">
            <th>ردیف</th>
            <th>اقدام کننده</th>
            <th>نوع پیگیری</th>
            <th>وضعیت</th>
            <th>زمان</th>
            <th>سطح پیامک</th>
            <th>شرح</th>
            <th>تلفن</th>
{#            <th>پیگیری بعدی</th>#}
        </tr>
    </thead>
<tbody>
    {% for t in tracking %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if t.created_by %}
                    <img class="img-fluid avatar-small" src="{{ t.created_by.avatar.url }}" alt="">
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {% if t.call_status == 4 %}
                                    <i class="fa fa-hourglass-start text-warning fa-2x"></i>

                {% else %}
                <i class="fa {{ t.track_kind.kind_icon }} text-{{ t.track_kind.kind_color }} fa-2x"></i>
                {% endif %}
            </td>

            <!-- وضعیت پیامک یا تماس -->
            <td>

                {% if t.track_kind.is_call_related %}
                    <span class="{{ t.get_call_status_details.color }}">
                        <i class="fa {{ t.get_call_status_details.icon }}"></i>
                        {{ t.get_call_status_details.persian }}
                    </span>
                {% else %}
                    <span class="{{ t.get_status_details.color }}">
                        <i class="fa {{ t.get_status_details.icon }}"></i>
                        {{ t.get_status_details.persian }}
                    </span>
                {% endif %}
            </td>

            <td>{{ t.created_at|to_jalali:"%Y/%m/%d - %H:%M" }}</td>
            <td>{{ t.sample_sms.level|default:"-" }}</td>

            <!-- نمایش شرح تماس یا پیامک -->
            <td>
                {% if t.track_kind.is_call_related %}
                    {{ t.call_description|default:"-" }}
                {% else %}
                    {{ t.message_to_send|default:"-" }}
                {% endif %}
            </td>

            <td>{{ t.phone_number|default:"-" }}</td>
{#            <td>{{ t.next_reminder_date|timeuntil }}</td>#}
        </tr>
    {% endfor %}
</tbody>
</table>







                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




        </div>


    </div>


{% endblock %}





{% block myjs %}
    <script>
        document.getElementById("start_call").addEventListener("click", function () {
            let button = this;

            if (button.classList.contains("btn-success")) {
                button.textContent = "پایان تماس (0s)";
                button.classList.remove("btn-success");
                button.classList.add("btn-danger");

                let counter = 0;
                let timer = setInterval(() => {
                    counter++;
                    document.getElementById("call_duration").value = counter;
                    button.textContent = `پایان تماس (${counter}s)`; // 🔹 نمایش ثانیه داخل دکمه
                }, 1000);

                button.setAttribute("data-timer", timer);

                let phoneNumber = document.getElementById("id_phone_number").value;
                window.location.href = `tel:${phoneNumber}`;

            } else {
                clearInterval(button.getAttribute("data-timer"));
                button.classList.remove("btn-danger");
                button.classList.add("btn-secondary");
                button.textContent = `تماس پایان یافت (${document.getElementById("call_duration").value}s)`;
            }
        });

        // 🛠 دکمه انصراف -> تنظیم زمان تماس به صفر و پاک کردن شرح تماس
        document.getElementById("cancel_call").addEventListener("click", function () {
            clearInterval(document.getElementById("start_call").getAttribute("data-timer"));
            document.getElementById("call_duration").value = "0";
            document.getElementById("start_call").textContent = "شروع تماس (0s)";
            document.getElementById("start_call").classList.remove("btn-danger", "btn-secondary");
            document.getElementById("start_call").classList.add("btn-success");

            // پاک کردن متن شرح تماس
            document.getElementById("id_call_description").value = "";
        });
    </script>



{% endblock %}


{% block date %}
    <script src="{% static 'js/table1/tableExport.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-locale-all.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/table1/natural-sorting.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-print.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.plugin.autotable.js' %}"></script>

    <script>
        var $table = $('#table');
        var totalMandah = 0; // متغیر برای ذخیره مجموع مانده

        $(function () {
            $table.bootstrapTable();
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده هنگام بارگذاری جدول
        });

        function priceFormatter(data) {
            var field = this.field;
            {#console.log("Data received for priceFormatter:", data);#}
            var result = data.map(function (row) {
                var valueString = row[field].replace(/,/g, ''); // حذف کاماها
                var value = parseFloat(valueString);
                {#console.log("Processing row:", row);#}
                {#console.log("Parsed value:", value);#}
                return isNaN(value) ? 0 : value;
            }).reduce(function (sum, i) {
                {#console.log("Current sum:", sum);#}
                return sum + i;
            }, 0);
            {#console.log("Final result for priceFormatter:", result);#}
            totalMandah = result; // ذخیره مجموع مانده
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده
            return result.toLocaleString('fa-IR'); // نمایش با کاما به صورت 3 تا 3 تا
        }

        function updateTotalMandah() {
            $('#total-mandah').text(totalMandah.toLocaleString('fa-IR'));
        }
    </script>




{% endblock %}




