{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% load jalali_tags %}
{% load custom_filters %}

    <div class="content-wrapper">

        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    <div class="d-block">
                        <h5 class="card-title text-facebook pb-0 border-0">
                            {{ hesabmoshtari.person.name }} {{ hesabmoshtari.person.lname }}
                            {% if hesabmoshtari.total_mandeh > 0 %}
                                <span class="badge badge-pill badge-success">بستانکار</span>
                            {% elif hesabmoshtari.total_mandeh == 0 %}
                                <span class="badge badge-pill badge-primary">بی حساب</span>
                            {% elif hesabmoshtari.total_mandeh < 0 %}
                                <span class="badge badge-pill badge-danger">بدهکار</span>
                            {% endif %}
                        </h5>
                    </div>

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                        <li class="breadcrumb-item"><a href="/" class="default-color"> خانه</a></li>
                        <li class="breadcrumb-item active">حساب مشتری</li>
                        <li class="breadcrumb-item active">
                            {{ hesabmoshtari.person.lname }} {{ hesabmoshtari.person.name }}
                        </li>

                    </ol>
                </div>
            </div>
            <!-- ردیف اول خلاصه ها -->
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-primary rounded-circle">
    <span class="text-white">
    <i class="fa fa-dollar highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark">مانده حساب</p>
                                    <h4 style="direction: ltr">{{ hesabmoshtari.total_mandeh|floatformat:0|intcomma:False }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left icon-box bg-danger rounded-circle">
    <span class="text-white">
    <i class="fa fa-hourglass-end highlight-icon" aria-hidden="true"></i>
    </span>
                                </div>
                                <div class="float-right text-right">
                                    <p class="card-text text-dark"> آخرین پرداختی </p>
                                    <h4> {{ hesabmoshtari.from_last_daryaft|floatformat:0|intcomma:False }} روز قبل</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ردیف خلاصه و جزئیات وام ها -->
            <div class="row">
                <div class="col-md-5 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body col-12">
                            <h5 class="card-title pb-0 border-0 ">خلاصه وام ها</h5>
                            <div class="table-responsive">
                                <table class="table center-aligned-table mb-10 text-center ">
                                    <thead>
                                    <tr class="text-dark">
                                        <th>ردیف</th>
                                        <th>کد وام</th>
                                        <th>تاریخ وام</th>
                                        <th>تعداد اقساط</th>
                                        <th>مبلغ اولیه</th>
                                        <th>باقیمانده</th>
                                        <th>معوق</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for loan in hesabmoshtari.loans.all %}
                                        <tr>
                                            <td><h6>{{ forloop.counter }}</h6></td>
                                            <td><h6>{{ loan.code }}</h6></td>
                                            <td><h6>{{ loan.tarikh }}</h6></td>
                                            <td><h6>{{ loan.number }}</h6></td>
                                            <td><h6>{{ loan.cost|floatformat:0|intcomma:False }}</h6></td>
                                            <td><h6>{{ loan.actual_loan_mandeh|floatformat:0|intcomma:False }}</h6></td>
                                            <td><h6>{{ loan.delayed_loan|floatformat:0|intcomma:False }}</h6></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-7 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title pb-0 border-0 ">جزئیات وام ها</h5>
                            <div class="table-responsive scrollbar max-h-380">
                                {% for loan in hesabmoshtari.loans.all %}
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table mb-10 text-center ">
                                            <thead>
                                            <tr class="text-dark">
                                                <th>کد وام</th>
                                                <th>شماره قسط</th>
                                                <th>تاریخ</th>
                                                <th> تاریخ دریافت</th>
                                                <th>مبلغ</th>
                                                <th>درصد پرداخت</th>
                                                <th>وضعیت</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for lo in loan.loandetil_set.all %}
                                                <tr>
                                                    <td>{{ loan.code }}</td>
                                                    <td>{{ lo.row }}</td>
                                                    <td>{{ lo.tarikh }}</td>
                                                    <td>{{ lo.recive_tarikh }}</td>
                                                    <td>{{ lo.cost|floatformat:0|intcomma:False }}</td>
                                                    <td>{{ lo.complete_percent|percentage }}%</td>
                                                    <td>
                                                        {% if lo.complete_percent == 1 %}
                                                            {% if lo.date < today %}
                                                                <span class="btn btn-sm btn-success">پاس</span>
                                                            {% else %}
                                                                <span class="btn btn-sm btn-info">تعجیل</span>
                                                            {% endif %}
                                                        {% elif lo.date < today %}
                                                            <span class="btn btn-sm btn-danger">معوق</span>
                                                        {% else %}
                                                            <span class="btn btn-sm btn-primary">عادی</span>
                                                        {% endif %}
                                                    </td>

                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>




                    <!-- ردیف پیگیری اقساط -->
                                    <div class="row">
        <div class="col-xl-4 mb-30">
          <div class="card card-statistics h-100">
            <div class="p-4 text-center bg-success">
               <h5 class="mb-60 text-white">{{ m_name }} </h5>
{#                <div class="btn-group info-drop">#}
{#                  <button type="button" class="dropdown-toggle-split text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-more"></i></button>#}
{#                  <div class="dropdown-menu">#}
{#                    <a class="dropdown-item" href="#"><i class="text-primary ti-files"></i> اضافه کردن کار</a>#}
{#                    <a class="dropdown-item" href="#"><i class="text-dark ti-pencil-alt"></i> ویرایش مشخصات</a>#}
{#                    <a class="dropdown-item" href="#"><i class="text-success ti-user"></i> نمایش مشخصات</a>#}
{#                    <a class="dropdown-item" href="#"><i class="text-secondary ti-info"></i> اطلاعات تماس</a>#}
{#                  </div>#}
{#                </div>#}
            </div>
            <div class="card-body text-center">
              <div class="avatar-top">
                <img class="img-fluid w-25 rounded-circle " src="{% static 'images/noimage.png' %}" alt="">
               </div>
               <p class="mt-30">{{ hesabmoshtari.person.address }}</p>
               <p class="mt-10">-</p>

                <div class="social-icons color-icon mt-20">
                  <ul>
                      {% if gh in hesabmoshtari.person %}
                    <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                      {% endif %}
{#                    <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                    <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                    <li class="social-github"><a href="#"><i class="fa fa-github"></i></a></li>#}
{#                    <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>#}
{#                    <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                  </ul>
                </div>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="action" value="send_sms" class="btn btn-primary">ارسال پیامک</button>
</form>


{#               <div class="divider mt-20"></div>#}
{#               <div class="row">#}
{#                  <div class="col-6 col-sm-4 mt-30">#}
{#                     <b>پروژه</b>#}
{#                     <h4 class="text-success mt-10">09</h4>#}
{#                  </div>#}
{#                  <div class="col-6 col-sm-4 mt-30">#}
{#                    <b>پیام ها </b>#}
{#                     <h4 class="text-danger mt-10">255</h4>#}
{#                  </div>#}
{#                  <div class="col-12 col-sm-4 mt-30">#}
{#                    <b>نمایش ها</b>#}
{#                     <h4 class="text-warning mt-10">608</h4>#}
{#                  </div>#}
{#                </div>#}
             </div>
          </div>
        </div>

                                        <div class="col-xl-8 mb-30">
           <div class="card card-statistics h-100">
           <div class="card-body">
             <h5 class="card-title pb-0 border-0">آخرین پیگیری ها </h5>

              <div class="table-responsive">
              <table class="table center-aligned-table mb-0">
                <thead>
                  <tr class="text-dark">
                    <th>Order No</th>
                    <th>Product Name</th>
                    <th>Purchased On</th>
                    <th>Shipping Status</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                      {% for t in tracking %}
                      <tr>
                      <td>{{ forloop.counter }}</td>
                    <td><img class="img-fluid avatar-small" src={{ t.created_by.avatar.url }} alt=""></td>
                    <td>{{ t.track_kind.kine_name }}</td>
                    <td>{{ t.created_at }}</td>
                    <td>{{ t.sample_sms.level }}</td>
                    <td>{{ t.sample_sms.text }}</td>
                    <td>{{ t.sample_sms.message }}</td>
                    <td>{{ t.sample_sms.phone_number }}</td>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td><a href="#" class="btn btn-outline-success btn-sm">View Order</a></td>
                    <td><a href="#" class="btn btn-outline-warning btn-sm">Cancel</a></td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>

      </div>

            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body col-12">
                            <h5 class="card-title pb-0 border-0 ">پیگیری اقساط</h5>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ردیف جزئیات اسناد -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="col-xl-12 mb-30">
                        <div class="card card-statistics h-100">
                            <div class="card-body">
                                <div class="table-responsive mt-15 ">
                                    <h6 class="card-title pb-0 border-0">مانده
                                        حساب {{ hesabmoshtari.person.name }} {{ hesabmoshtari.person.lname }} :</h6>
                                    <h5 class="card-title pb-0 border-0"><span id="total-mandah"
                                                                               class="text-primary"></span>
                                        ریال </h5>
                                    <div class="table-responsive">
                                        <table id="table"
                                               class="table-striped"
                                               data-toggle="table"
                                               data-locale="fa-IR"
                                               data-search="true"
                                               data-show-columns="true"
                                               data-show-export="true"
                                               data-show-refresh="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-buttons="buttons"
                                               data-search-align="left"
                                               data-buttons-class="primary"
                                               data-pagination="true"
                                               data-show-columns-search="true"
                                               data-show-footer="true"
                                               data-page-size="10"
                                               data-remember-order="true"
                                               data-sortable="true"
                                               data-show-search-clear-button="true"
                                                {#                                                   data-sort-name="date"#}
                                               data-sort-order="asc"
                                               data-filter-control="true"
                                               data-show-print="true"
                                               data-export-data-type="all"
                                               data-export-types='["excel"]'>
                                            <thead>
                                            <tr class="tr-class-1">
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="code"
                                                    data-filter-control="input">کد
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="radif"
                                                    data-filter-control="input">ردیف
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="date"
                                                    data-filter-control="select">تاریخ
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="kind" data-filter-control="select">نوع
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="sharh"
                                                    data-filter-control="input">شرح سند
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="bed" data-footer-formatter="priceFormatter">بدهکار
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="bes" data-footer-formatter="priceFormatter">بستانکار
                                                </th>
                                                <th class="card-text text-center" data-sortable="true"
                                                    data-field="mand1" data-footer-formatter="priceFormatter">مانده سند
                                                </th>
                                                {#                                                <th class="card-text text-center" data-sortable="true"#}
                                                {#                                                    data-field="mandkol"#}
                                                {#                                                    data-filter-control="select">مانده کل#}
                                                {#                                                </th>#}

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for s in asnad %}
                                                <tr>
                                                    <td class="card-text text-center">{{ s.code }}</td>
                                                    <td class="card-text text-center">{{ s.radif }}</td>
                                                    <td class="card-text text-center">{{ s.tarikh }}</td>
                                                    {#                                                    <td class="card-text text-center ">{{ s.kind.0 }}</td>#}
                                                    <td class="card-text text-center text-{{ s.kind.2 }}">{{ s.kind.1 }}</td>
                                                    {#                                                     <td class="card-text text-center ">{{ s.syscomment }}</td>#}
                                                    <td class="card-text text-center ">
                                                        {% if s.syscomment %}
                                                            {{ s.syscomment }}
                                                        {% else %}
                                                            {{ s.sharh }}
                                                        {% endif %}
                                                    </td>

                                                    <td class="card-text text-center">{{ s.bed|floatformat:0|intcomma:False }}</td>
                                                    <td class="card-text text-center">{{ s.bes|floatformat:0|intcomma:False }}</td>
                                                    <td class="card-text text-center"
                                                        style="direction: ltr">{{ s.curramount|floatformat:0|intcomma:False }}</td>
                                                    {#                                                    <td class="card-text text-center"></td>#}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>


{% endblock %}





{% block myjs %}


{% endblock %}


{% block date %}
    <script src="{% static 'js/table1/tableExport.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-locale-all.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-export.min.js' %}"></script>
    <script src="{% static 'js/table1/natural-sorting.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-filter-control.min.js' %}"></script>
    <script src="{% static 'js/table1/bootstrap-table-print.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.min.js' %}"></script>
    <script src="{% static 'js/table1/jspdf.plugin.autotable.js' %}"></script>

    <script>
        var $table = $('#table');
        var totalMandah = 0; // متغیر برای ذخیره مجموع مانده

        $(function () {
            $table.bootstrapTable();
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده هنگام بارگذاری جدول
        });

        function priceFormatter(data) {
            var field = this.field;
            {#console.log("Data received for priceFormatter:", data);#}
            var result = data.map(function (row) {
                var valueString = row[field].replace(/,/g, ''); // حذف کاماها
                var value = parseFloat(valueString);
                {#console.log("Processing row:", row);#}
                {#console.log("Parsed value:", value);#}
                return isNaN(value) ? 0 : value;
            }).reduce(function (sum, i) {
                {#console.log("Current sum:", sum);#}
                return sum + i;
            }, 0);
            {#console.log("Final result for priceFormatter:", result);#}
            totalMandah = result; // ذخیره مجموع مانده
            updateTotalMandah(); // به‌روزرسانی نمایش مجموع مانده
            return result.toLocaleString('fa-IR'); // نمایش با کاما به صورت 3 تا 3 تا
        }

        function updateTotalMandah() {
            $('#total-mandah').text(totalMandah.toLocaleString('fa-IR'));
        }
    </script>




{% endblock %}




