

{% load humanize %}
{% load static %}






                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h2>{{ month_name }} ماه {{ year }}</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="mb-15 pb-0 border-0 card-title">چک های دارای مانده </h5>
                            <div class="table-responsive">
                                <table class="table center-aligned-table mb-10 text-center ">
                                    <thead>
                                    <tr class="text-dark">
                                        <th></th>
                                        <th></th>
                                        <th>ماه های قبلی</th>
                                        <th>{{ month_name }} ماه {{ year }}</th>
                                        <th>ماه های بعد</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><i class="fa fa-download text-primary fa-2x"></i></td>
                                        <td><h5 class="text-primary">چکهای دریافتی</h5></td>
                                        <td>
                                            <h5 class="text-danger">{{ month_cheque_data.past_recive|floatformat:0|intcomma:False }}</h5>
                                        </td>
                                        <td>
                                            <h5 class="text-twitter">{{ month_cheque_data.this_month_recive|floatformat:0|intcomma:False }}</h5>
                                        </td>
                                        <td>
                                            <h5 class="text-success">{{ month_cheque_data.post_recive|floatformat:0|intcomma:False }}</h5>
                                        </td>
                                    </tr>

                                    <td><i class="fa fa-upload text-danger fa-2x"></i></td>
                                    <td><h5 class="text-danger">چکهای پرداختی</h5></td>
                                    <td>
                                        <h5 class="text-primary">{{ month_cheque_data.past_pay|floatformat:0|intcomma:False }}</h5>
                                    </td>
                                    <td>
                                        <h5 class="text-danger">{{ month_cheque_data.this_month_pay|floatformat:0|intcomma:False }}</h5>
                                    </td>
                                    <td>
                                        <h5 class="text-warning">{{ month_cheque_data.post_pay|floatformat:0|intcomma:False }}</h5>
                                    </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="calendar-header">
                            <button id="prev-month" class="btn btn-secondary">&lt;</button>
                            <span>{{ month_name }} {{ year }}</span>
                            <button id="next-month" class="btn btn-secondary">&gt;</button>
                        </div>
                        <table class="table table-bordered calendar-table">
                            <thead class="thead-light">
                            <tr class="text-center">
                                <th>شنبه</th>
                                <th>یکشنبه</th>
                                <th>دوشنبه</th>
                                <th>سه‌شنبه</th>
                                <th>چهارشنبه</th>
                                <th>پنج‌شنبه</th>
                                <th>جمعه</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for week in days_in_month %}
                                <tr>
                                    {% for day in week %} {% if day %}
                                        <td>
                                            <div class="fc-day-top">
                                                <span class="fc-day-number"><h5>{{ day.jday }}</h5></span>
                                                <span class="fc-recive-number">{{ day.recive|floatformat:0|intcomma:False }}</span>
                                                <div class="progress mb-3" data-toggle="popover" data-html="true"
                                                     data-original-title="لیست  چکهای دریافتی برای تاریخ {{ day.today_recive_cheque.last.cheque_tarik }}"

                                                     data-content="
                                                     <table class='table'>
                                                     <thead>
                                                     <tr>
                                                     <th></th>
                                                     <th>بانک</th>
                                                     <th>شخص</th>
                                                     <th>مبلغ</th>
                                                     <tr>
                                                     </thead>
                                                     <tbody>
{% for cheque in day.today_recive_cheque %}
{% with 'images/bank/'|add:cheque.bank_logo as logo_path %}

<tr>
<td><img src='{% static logo_path %}' class='small-logo'></td>
<td>{{ cheque.bank_name }}-{{ cheque.bank_branch }}</td>
<td>{{ cheque.person }}</td>
<td>{{ cheque.cost|floatformat:0|intcomma:False }}</td>

</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>">

                                                    <div class="progress-bar progress-bar-striped bg-primary"
                                                         role="progressbar"
                                                         style="width: {% widthratio day.recive max_cheque 100 %}%"
                                                         aria-valuenow="{{ day.recive }}" aria-valuemin="0"
                                                         aria-valuemax="{{ max_cheque }}"></div>
                                                </div>
                                                <span class="fc-pay-number">{{ day.pay|floatformat:0|intcomma:False }}</span>
                                                <div class="progress mb-3" data-toggle="popover" data-html="true"
                                                     data-original-title="لیست  چکهای پرداختی برای تاریخ {{ day.today_pay_cheque.last.cheque_tarik }}"
                                                     data-content="
                                                     <table class='table center-aligned-table mb-0'>
                                                     <thead>
                                                     <tr>
                                                     <th></th>
                                                     <th>بانک</th>
                                                     <th>مبلغ</th>
                                                     </tr>
                                                     </thead>
                                                     <tbody>
                                                             {% for cheque in day.today_pay_cheque %}
{% with 'images/bank/'|add:cheque.bank.bank_logo as logo_path %}
<tr>
<td><img src='{% static logo_path %}' class='small-logo'></td>
<td>{{ cheque.bank.name }}</td>
<td>{{ cheque.cost|floatformat:0|intcomma:False }}</td>
</tr>
{% endwith %}
{% endfor %}
</tbody>
</table>">
                                                    <div class="progress-bar progress-bar-striped bg-danger"
                                                         role="progressbar"
                                                         style="width: {% widthratio day.pay max_cheque 100 %}%"
                                                         aria-valuenow="{{ day.pay }}" aria-valuemin="0"
                                                         aria-valuemax="{{ max_cheque }}"></div>
                                                </div>
                                            </div>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>




{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>#}

{##}
{#<script>#}
{##}
{#        $(document).ready(function () {#}
{#            var currentYear = {{ year }};#}
{#            var currentMonth = {{ month }};#}
{#            var url = '/acc/cheques_recieve_total';#}
{##}
{#            console.log("Initial setup");#}
{#            console.log("Current Year: " + currentYear);#}
{#            console.log("Current Month: " + currentMonth);#}
{#            console.log("Initial URL: " + url);#}
{##}
{#            function loadCalendar(month, year) {#}
{#                console.log("Loading calendar for month: " + month + ", year: " + year);#}
{#                console.log("URL being used for AJAX call: " + url);#}
{##}
{#                $.ajax({#}
{#                    url: url,#}
{#                    type: 'GET',#}
{#                    data: {month: month, year: year},#}
{#                    success: function (data) {#}
{#                        console.log("AJAX call success");#}
{#                        $('#calendarf').html(data);#}
{#                    },#}
{#                    error: function (xhr, status, error) {#}
{#                        console.error('Error loading calendar: ', error);#}
{#                        console.error('XHR:', xhr);#}
{#                        console.error('Status:', status);#}
{#                    }#}
{#                });#}
{#            }#}
{##}
{#            $('#prev-month').click(function (e) {#}
{#                e.preventDefault();#}
{#                if (currentMonth === 1) {#}
{#                    currentMonth = 12;#}
{#                    currentYear -= 1;#}
{#                } else {#}
{#                    currentMonth -= 1;#}
{#                }#}
{#                console.log("Previous month clicked. New Month: " + currentMonth + ", Year: " + currentYear);#}
{#                loadCalendar(currentMonth, currentYear);#}
{#            });#}
{##}
{#            $('#next-month').click(function (e) {#}
{#                e.preventDefault();#}
{#                if (currentMonth === 12) {#}
{#                    currentMonth = 1;#}
{#                    currentYear += 1;#}
{#                } else {#}
{#                    currentMonth += 1;#}
{#                }#}
{#                console.log("Next month clicked. New Month: " + currentMonth + ", Year: " + currentYear);#}
{#                loadCalendar(currentMonth, currentYear);#}
{#            });#}
{#        });#}
{#    </script>#}


      <script>

        $(document).ready(function () {
            var currentYear = {{ year }};
            var currentMonth = {{ month }};
            var url = '/acc/cheques_pay_total';

            console.log("Initial setup");
            console.log("Current Year: " + currentYear);
            console.log("Current Month: " + currentMonth);
            console.log("Initial URL: " + url);

            function loadCalendar(month, year) {
                console.log("Loading calendar for month: " + month + ", year: " + year);
                console.log("URL being used for AJAX call: " + url);

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {month: month, year: year},
                    success: function (data) {
                        console.log("AJAX call success");
                        $('#calendarf').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading calendar: ', error);
                        console.error('XHR:', xhr);
                        console.error('Status:', status);
                    }
                });
            }

            $('#prev-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 1) {
                    currentMonth = 12;
                    currentYear -= 1;
                } else {
                    currentMonth -= 1;
                }
                console.log("Previous month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });

            $('#next-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 12) {
                    currentMonth = 1;
                    currentYear += 1;
                } else {
                    currentMonth += 1;
                }
                console.log("Next month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });
        });
    </script>







   <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'click',  // تنظیم برای فعال‌سازی فقط با کلیک
                placement: 'top',
                html: true
            });

            // بستن Popover زمانی که در جای دیگری کلیک شود
            $(document).on('click', function (e) {
                $('[data-toggle="popover"]').each(function () {
                    // اگر روی عنصر Popover کلیک نشده باشد
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });
        });
    </script>


