{% extends 'shared/_MainLayout.html' %}
{% load humanize custom_filters %}
{% load static %}
{% load custom_filters %}
{% block content %}

<style>
    .datetime-small {
        font-size: 1.2em;
        margin-right: 10px;
        vertical-align: middle;
    }
    .text-facebook { display: inline; }
    .card-title { font-weight: 600; }
    .highlight-icon { font-size: 1.8rem; }
</style>

<div class="content-wrapper">
    <div class="page-title">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mb-0">داشبورد 2 - فروشگاه یاس مجلل</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                    <li class="breadcrumb-item"><a href="#" class="default-color">خانه</a></li>
                    <li class="breadcrumb-item active">داشبورد 2</li>
                </ol>
            </div>
        </div>
    </div>

    <!-- تب‌های داشبورد -->
    <div class="row">
        <div class="col-xl-12 mb-30">
            <div class="card card-statistics h-100">
                <div class="card-body">
                    <h3 class="d-inline">خلاصه عملکرد مالی</h3>
                    <span id="datetime" class="datetime-small">در حال بارگذاری...</span>

                    <div class="tab round nav-center mt-4">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#overall" role="tab"> <i class="fa fa-dashboard"></i> کلی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#daily" role="tab"> <i class="fa fa-calendar-check-o"></i> روزانه</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#weekly" role="tab"> <i class="fa fa-calendar"></i> هفتگی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#monthly" role="tab"> <i class="fa fa-calendar-plus-o"></i> ماهانه</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <!-- تب کلی -->
                            <div class="tab-pane fade active show" id="overall" role="tabpanel">
                                <div class="row mt-4">
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                                        <div class="card card-statistics h-100 bg-primary-gradient">
                                            <div class="card-body text-white">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <span><i class="fa fa-line-chart text-white highlight-icon"></i></span>
                                                    </div>
                                                    <div class="float-right text-right">
                                                        <p>خالص فروش</p>
                                                        <h4>{{ minfo.khales_daramad_forosh|divide:1000000|floatformat:0|intcomma }} میلیون</h4>
                                                    </div>
                                                </div>
                                                <p class="mt-3 mb-0"><small>از ابتدای سال</small></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                                        <div class="card card-statistics h-100 bg-success-gradient">
                                            <div class="card-body text-white">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <span><i class="fa fa-money text-white highlight-icon"></i></span>
                                                    </div>
                                                    <div class="float-right text-right">
                                                        <p>سود ناویژه</p>
                                                        <h4>{{ minfo.sood_navizhe_total|divide:1000000|floatformat:0|intcomma }} میلیون</h4>
                                                    </div>
                                                </div>
                                                <p class="mt-3 mb-0"><small>نسبت: {{ minfo.navizheh_ratio|floatformat:2 }}%</small></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                                        <div class="card card-statistics h-100 bg-info-gradient">
                                            <div class="card-body text-white">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <span><i class="fa fa-briefcase text-white highlight-icon"></i></span>
                                                    </div>
                                                    <div class="float-right text-right">
                                                        <p>سود ویژه</p>
                                                        <h4>{{ minfo.sood_vizhe_total|divide:1000000|floatformat:0|intcomma }} میلیون</h4>
                                                    </div>
                                                </div>
                                                <p class="mt-3 mb-0"><small>میانگین: {{ minfo.sood_vizhe_ave|floatformat:0|intcomma }} تومان</small></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                                        <div class="card card-statistics h-100 bg-danger-gradient">
                                            <div class="card-body text-white">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <span><i class="fa fa-clock-o text-white highlight-icon"></i></span>
                                                    </div>
                                                    <div class="float-right text-right">
                                                        <p>چک‌های معوق</p>
                                                        <h4>{{ r_chequ_data.past|floatformat:1 }} میلیون</h4>
                                                    </div>
                                                </div>
                                                <p class="mt-3 mb-0"><small>دریافتی: {{ r_chequ_data.total|floatformat:1 }} میلیون</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- نمودار ماهانه -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>تحلیل ماهانه (سود ناویژه)</h5>
                                                <canvas id="Chart2" height="100"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- تب روزانه -->
                            <div class="tab-pane fade" id="daily" role="tabpanel">
                                <div class="row mt-4">
                                    <div class="col-xl-4 mb-30">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <h5>امروز</h5>
                                                <p>سود ناویژه: <strong>{{ today_data.sood_navizhe|intcomma }} تومان</strong></p>
                                                <p>سود ویژه: <strong>{{ today_data.sood_vizhe|intcomma }} تومان</strong></p>
                                                <p>فروش: <strong>{{ today_data.khales_forosh|intcomma }} تومان</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-8 mb-30">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>تحلیل روزانه (7 روز اخیر)</h5>
                                                <canvas id="Chart1" height="100"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- تب هفتگی -->
                            <div class="tab-pane fade" id="weekly" role="tabpanel">
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>جمع‌بندی هفتگی (درآمد و هزینه)</h5>
                                                <canvas id="Chart4" height="100"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- تب ماهانه -->
                            <div class="tab-pane fade" id="monthly" role="tabpanel">
                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>تحلیل مالی ماهانه (سود ویژه)</h5>
                                                <canvas id="Chart5" height="100"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block myjs %}
<script>
    function updateDateTime() {
        const now = new Date();
        const days = ["یکشنبه", "دوشنبه", "سه‌شنبه", "چهارشنبه", "پنج‌شنبه", "جمعه", "شنبه"];
        const dayName = days[now.getDay()];
        const date = now.toLocaleDateString('fa-IR');
        const time = now.toLocaleTimeString('fa-IR');
        document.getElementById("datetime").innerHTML = `${dayName}، ${date}، ${time}`;
    }
    setInterval(updateDateTime, 1000);
    updateDateTime();
</script>

<!-- نمودارها -->
<script>
    function drawChartFromData(chartId, labels, datasets, options = {}) {
        const defaultOptions = {
            scales: { y: { beginAtZero: true } },
            responsive: true,
            plugins: { legend: { display: true, position: 'bottom' } }
        };
        drawChart(chartId, 'bar', { labels, datasets }, { ...defaultOptions, ...options });
    }

    // نمودار 1: روزانه (سود ناویژه)
    drawChartFromData('Chart1', {{ chart1_data.labels|safe }}, [
        { label: 'خالص فروش', data: {{ chart1_data.khales_forosh|safe }}, backgroundColor: 'rgba(0, 123, 255, 0.6)' },
        { label: 'بهای تمام شده', data: {{ chart1_data.baha_tamam_forosh|safe }}, backgroundColor: 'rgba(255, 99, 132, 0.6)' },
        { label: 'سود ناویژه', data: {{ chart1_data.sood_navizhe|safe }}, backgroundColor: 'rgba(75, 192, 192, 0.6)' }
    ]);

    // نمودار 2: ماهانه (سود ناویژه)
    drawChartFromData('Chart2', {{ chart2_data.labels|safe }}, [
        { label: 'خالص فروش', data: {{ chart2_data.khales_forosh|safe }}, backgroundColor: 'rgba(0, 111, 255, 0.6)' },
        { label: 'بهای تمام شده', data: {{ chart2_data.baha_tamam_forosh|safe }}, backgroundColor: 'rgba(255, 99, 132, 0.6)' },
        { label: 'سود ناویژه', data: {{ chart2_data.sood_navizhe|safe }}, backgroundColor: 'rgba(75, 192, 192, 0.6)' }
    ]);

    // نمودار 4: سود ویژه روزانه
    drawChartFromData('Chart4', {{ chart4_data.labels|safe }}, [
        { label: 'کل درآمد', data: {{ chart4_data.total_daramad|safe }}, backgroundColor: 'rgba(54, 162, 235, 0.6)' },
        { label: 'کل هزینه', data: {{ chart4_data.total_hazineh|safe }}, backgroundColor: 'rgba(255, 99, 132, 0.6)' },
        { label: 'سود ویژه', data: {{ chart4_data.sood_vizhe|safe }}, backgroundColor: 'rgba(75, 192, 192, 0.6)' }
    ]);

    // نمودار 5: سود ویژه ماهانه
    drawChartFromData('Chart5', {{ chart5_data.labels|safe }}, [
        { label: 'کل درآمد', data: {{ chart5_data.total_daramad|safe }}, backgroundColor: 'rgba(54, 162, 235, 0.6)' },
        { label: 'کل هزینه', data: {{ chart5_data.total_hazineh|safe }}, backgroundColor: 'rgba(255, 99, 132, 0.6)' },
        { label: 'سود ویژه', data: {{ chart5_data.sood_vizhe|safe }}, backgroundColor: 'rgba(75, 192, 192, 0.6)' }
    ]);
</script>
{% endblock %}