{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <style>
        .datetime-small {
            font-size: 1.2em; /* کوچک‌تر کردن فونت تاریخ و ساعت */
            margin-right: 10px; /* فاصله بین عنوان و تاریخ/ساعت */
            vertical-align: middle; /* تنظیم تراز عمودی */
        }

        .text-facebook {
            display: inline; /* نمایش عنوان در یک خط */
        }
    </style>

    <div class="content-wrapper">

        <!--ردیف تایتل-->
        <div class="page-title">
            <div class="row">
                <div class="col-sm-9">
                    <h3 class="mb-0 text-facebook d-inline">داشبورد مدیریتی فروشگاه یاس مجلل</h3>
                    <span id="datetime" class="datetime-small">در حال بارگذاری...</span>
                </div>
                <div class="col-sm-3">
                    <ol class="breadcrumb pt-0 pr-0 float-left float-sm-right">
                        <li class="breadcrumb-item"><a href="/" class="default-color"> خانه</a></li>
                        <li class="breadcrumb-item active">داشبورد 1</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <!--سود ناویژه-->
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body text-left">
                        <h5 class="card-title">سود ناویژه</h5>
                        <h6 class="text-capitalize mt-0 text-center text-primary">خالص در آمد فروش</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.khales_forosh }}"
                                        data-speed="5000">{{ today_data.khales_forosh }}</h4>
                                    <label class="text-capitalize mt-0">امروز ({{ last_update_time|timesince }})
                                        قبل</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.khales_forosh }}"
                                        data-speed="5000">{{ yesterday_data.khales_forosh }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <a href="/balance-sheet-moin/400" target="_blank">
                                    <div class="counter counter-small">
                                        <h4 class="timer text-danger" data-to="{{ allday_data.khales_forosh }}"
                                            data-speed="5000">{{ allday_data.khales_forosh }}</h4>
                                        <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <h6 class="text-capitalize mt-0 text-center text-danger">بهای تمام شده کالای فروش رفته</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.baha_tamam_forosh }}"
                                        data-speed="5000">{{ today_data.baha_tamam_forosh }}</h4>
                                    <label class="text-capitalize mt-0">امروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.baha_tamam_forosh }}"
                                        data-speed="5000">{{ yesterday_data.baha_tamam_forosh }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <a href="/balance-sheet-moin/500" target="_blank">

                                    <div class="counter counter-small">
                                        <h4 class="timer text-danger" data-to="{{ allday_data.baha_tamam_forosh }}"
                                            data-speed="5000">{{ allday_data.baha_tamam_forosh }}</h4>
                                        <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <h6 class="text-capitalize mt-0 text-center text-success">سود ناویژه</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.sood_navizhe }}"
                                        data-speed="5000">{{ today_data.sood_navizhe }}</h4>
                                    <label class="text-capitalize mt-0">امروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.sood_navizhe }}"
                                        data-speed="5000">{{ yesterday_data.sood_navizhe }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-danger" data-to="{{ allday_data.sood_navizhe }}"
                                        data-speed="5000">{{ allday_data.sood_navizhe }}</h4>
                                    <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                </div>
                            </div>
                        </div>

                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <b>متوسط روز های فعال</b>
                                <h4>{{ allday_data.ave_sood_navizhe|floatformat:0 }}</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <b>کمترین روزانه</b>
                                <h4>{{ allday_data.min_sood_navizhe|floatformat:0 }}</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-15 text-center">
                                <b>بیشترین روزانه</b>
                                <h4>{{ allday_data.max_sood_navizhe|floatformat:0 }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--سود ویژه-->
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body text-left">
                        <h5 class="card-title">سود ویژه</h5>
                        <h6 class="text-capitalize mt-0 text-center text-primary">سایر درآمدها</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">

                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.sayer_daramad }}"
                                        data-speed="5000">{{ today_data.sayer_daramad }}</h4>
                                    <label class="text-capitalize mt-0">امروز ({{ last_update_time|timesince }})
                                        قبل</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.sayer_daramad }}"
                                        data-speed="5000">{{ yesterday_data.sayer_daramad }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <a href="/balance-sheet-moin/401" target="_blank">

                                    <div class="counter counter-small">
                                        <h4 class="timer text-danger" data-to="{{ allday_data.sayer_daramad }}"
                                            data-speed="5000">{{ allday_data.sayer_daramad }}</h4>
                                        <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <h6 class="text-capitalize mt-0 text-center text-danger">سایر هزینه ها</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.sayer_hazine }}"
                                        data-speed="5000">{{ today_data.sayer_hazine }}</h4>
                                    <label class="text-capitalize mt-0">امروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.sayer_hazine }}"
                                        data-speed="5000">{{ yesterday_data.sayer_hazine }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <a href="/balance-sheet-moin/501" target="_blank">
                                    <div class="counter counter-small">
                                        <h4 class="timer text-danger" data-to="{{ allday_data.sayer_hazine }}"
                                            data-speed="5000">{{ allday_data.sayer_hazine }}</h4>
                                        <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <h6 class="text-capitalize mt-0 text-center text-success">سود ویژه</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-primary" data-to="{{ today_data.sood_vizhe }}"
                                        data-speed="5000">{{ today_data.sood_vizhe }}</h4>
                                    <label class="text-capitalize mt-0">امروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-success" data-to="{{ yesterday_data.sood_vizhe }}"
                                        data-speed="5000">{{ yesterday_data.sood_vizhe }}</h4>
                                    <label class="text-capitalize mt-0">دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-danger" data-to="{{ allday_data.sood_vizhe }}"
                                        data-speed="5000">{{ allday_data.sood_vizhe }}</h4>
                                    <label class="text-capitalize mt-0">ازابتدای سال مالی</label>
                                </div>
                            </div>
                        </div>

                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <b>متوسط روز های فعال</b>
                                <h4>{{ allday_data.ave_sood_vizhe|floatformat:0 }}</h4>
                            </div>
                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <b>کمترین روزانه</b>
                                <h4>{{ allday_data.min_sood_vizhe|floatformat:0 }}</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-15 text-center">
                                <b>بیشترین روزانه</b>
                                <h4>{{ allday_data.max_sood_vizhe|floatformat:0 }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--ردیف گزارش فروش و سود ناخالص-->
        <div class="row">
            <!--نمودار سود ناویژه-->
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <h5 class="card-title"> گزارش سود ناویژه</h5>
                        <div class="tab round">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="home-07-tab" data-toggle="tab" href="#home-07"
                                       role="tab" aria-controls="home-07" aria-selected="true"> <i
                                            class="fa fa-calendar-check-o"></i> مقایسه روزانه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-07-tab" data-toggle="tab" href="#profile-07"
                                       role="tab" aria-controls="profile-07" aria-selected="false"><i
                                            class="fa fa-calendar"></i> مقایسه هفته ای </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="portfolio-07-tab" data-toggle="tab" href="#portfolio-07"
                                       role="tab" aria-controls="portfolio-07" aria-selected="false"><i
                                            class="fa  fa-calendar-o"></i> مقایسه ماهانه </a>
                                </li>
                                {#                <li class="nav-item">#}
                                {#                  <a class="nav-link active show" id="contact-07-tab" data-toggle="tab" href="#contact-07" role="tab" aria-controls="contact-07" aria-selected="true"><i class="fa fa-check-square-o"></i> تماس </a>#}
                                {#                </li>#}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="home-07" role="tabpanel"
                                     aria-labelledby="home-07-tab">
                                    <div id="bar-chart">{{ fig_html|safe }}</div>

                                </div>
                                <div class="tab-pane fade" id="profile-07" role="tabpanel"
                                     aria-labelledby="profile-07-tab">
                                    ..
                                </div>
                                <div class="tab-pane fade" id="portfolio-07" role="tabpanel"
                                     aria-labelledby="portfolio-07-tab">
                                    <p>..</p>
                                </div>
                                <div class="tab-pane fade " id="contact-07" role="tabpanel"
                                     aria-labelledby="contact-07-tab">
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--نمودار سود ویژه-->
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <h5 class="card-title"> گزارش اسناد دریافتنی</h5>
                        <div class="tab round">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="home-08-tab" data-toggle="tab" href="#home-08"
                                       role="tab" aria-controls="home-08" aria-selected="true"> <i
                                            class="fa fa-calendar-check-o"></i> مقایسه روزانه</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-08-tab" data-toggle="tab" href="#profile-08"
                                       role="tab" aria-controls="profile-08" aria-selected="false"><i
                                            class="fa fa-calendar"></i> مقایسه هفته ای </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="portfolio-08-tab" data-toggle="tab" href="#portfolio-08"
                                       role="tab" aria-controls="portfolio-08" aria-selected="false"><i
                                            class="fa  fa-calendar-o"></i> مقایسه ماهانه </a>
                                </li>
                                {#                <li class="nav-item">#}
                                {#                  <a class="nav-link active show" id="contact-08-tab" data-toggle="tab" href="#contact-08" role="tab" aria-controls="contact-08" aria-selected="true"><i class="fa fa-check-square-o"></i> تماس </a>#}
                                {#                </li>#}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="home-08" role="tabpanel"
                                     aria-labelledby="home-08-tab">
                                    <canvas id="Chart4"></canvas>

                                </div>
                                <div class="tab-pane fade" id="profile-08" role="tabpanel"
                                     aria-labelledby="profile-08-tab">
                                    <p>.</p>
                                </div>
                                <div class="tab-pane fade" id="portfolio-08" role="tabpanel"
                                     aria-labelledby="portfolio-08-tab">
                                    <p>..</p>
                                </div>
                                <div class="tab-pane fade " id="contact-08" role="tabpanel"
                                     aria-labelledby="contact-08-tab">
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!--خالی-->
            <div class="col-xl-6 mb-30">

            </div>
            <!--اسناد دریافتنی-->
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body text-left">
                        <h5 class="card-title">اسناد در یافتنی</h5>
                        <h6 class="text-capitalize mt-0">میلیون تومان</h6>
                        <div class="row">
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    {% if today_data.asnad_pardakhtani > yesterday_data.asnad_pardakhtani %}
                                        <h4 class="timer text-danger" data-to="{{ today_data.asnad_pardakhtani }}"
                                            data-speed="5000">
                                            {{ today_data.asnad_pardakhtani }}
                                        </h4>
                                        <label class="text-capitalize mt-0"> <i class="fa fa-long-arrow-up text-danger"
                                                                                aria-hidden="true"></i>
                                            برآیند امروز ({{ last_update_time|timesince }})قبل
                                        </label>
                                    {% else %}
                                        <h4 class="timer text-success" data-to="{{ today_data.asnad_pardakhtani }}"
                                            data-speed="5000">
                                            {{ today_data.asnad_pardakhtani }}
                                        </h4>
                                        <label class="text-capitalize mt-0"> <i class="fa fa-arrow-down text-success"
                                                                                aria-hidden="true"></i>
                                            برآیند امروز ({{ last_update_time|timesince }})قبل
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    {% if today_data.asnad_pardakhtani > yesterday_data.asnad_pardakhtani %}
                                        <h4 class="timer text-success" data-to="{{ yesterday_data.asnad_pardakhtani }}"
                                            data-speed="5000">{{ yesterday_data.asnad_pardakhtani|floatformat:0 }}</h4>
                                    {% else %}
                                        <h4 class="timer text-danger" data-to="{{ yesterday_data.asnad_pardakhtani }}"
                                            data-speed="5000">{{ yesterday_data.asnad_pardakhtani }}</h4>
                                    {% endif %}
                                    <label class="text-capitalize mt-0">برآیند دیروز </label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 mb-15 text-center">
                                <div class="counter counter-small">
                                    <h4 class="timer text-danger" data-to="{{ allday_data.asnad_pardakhtani }}"
                                        data-speed="5000">{{ allday_data.asnad_pardakhtani }}</h4>
                                    <label class="text-capitalize mt-0"> مانده </label>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">

                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <a href="/acc/cheques_recieve_total">
                                    <b>کل چک های دارای مانده</b>
                                    <h4>{{ chequ_data.tmandeh|floatformat:0|intcomma:False }}</h4>
                                </a>
                            </div>

                            <div class="col-6 col-sm-4 mt-15 text-center">
                                <b>چک های تاریخ گذشته تا امروز</b>
                                <h4>{{ chequ_data.pastmandeh|floatformat:0|intcomma:False }}</h4>
                            </div>
                            <div class="col-12 col-sm-4 mt-15 text-center">
                                <b>چکهای فردا به بعد</b>
                                <h4>{{ chequ_data.postmandeh|floatformat:0|intcomma:False }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>




{% endblock %}


{% block jscal %}


{% endblock %}



{% block myjs %}
    <!-- نمایش تاریخ و ساعت-->
    <script>
        function updateDateTime() {
            const now = new Date();
            const days = ["یکشنبه", "دوشنبه", "سه‌شنبه", "چهارشنبه", "پنج‌شنبه", "جمعه", "شنبه"];
            const dayName = days[now.getDay()];
            const date = now.toLocaleDateString('fa-IR');
            const time = now.toLocaleTimeString('fa-IR');

            document.getElementById("datetime").innerHTML = `${dayName}، ${date}، ${time}`;
        }

        // به روز رسانی هر ثانیه
        setInterval(updateDateTime, 1000);

        // نمایش اولیه
        updateDateTime();
    </script>
    <!-- نمودار مقایسه فروش روزانه -->
    <script>
        var labels = [
            {% for item in chart1_data %}
                '{{ item.month_name }}',
            {% endfor %}
        ];
        var labels = ["ژانویه", "فوریه", "مارس", "اوریل", "مه", "ژوئن", "ژولای"];

        var dataValues = [
            {% for item in chart1_data %}
                {{ item.total_count }},
            {% endfor %}
        ];

        var backgroundColors = [
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 192, 75, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(75, 75, 192, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(255, 165, 0, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)',
            'rgba(192, 75, 75, 0.2)'
        ];

        var borderColors = backgroundColors.map((color) => color.replace('0.2', '1'));

        var data = {
            labels: labels,
            datasets: [{
                label: 'فروش ماهانه',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        var options = {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        };

        drawChart('Chart1', 'line', data, options);
    </script>



    <!-- چارت 4 میله ای برآیند روز های هفته -->
    <script>
        const today = new Date();
        const dates = [];
        for (let i = 0; i <= 7; i++) {
            const day = new Date(today);
            day.setDate(today.getDate() - i);
            dates.push(day.toLocaleDateString('fa-IR', {weekday: 'long'}));
        }

        var dataValues = [
            {% for value in chart4_data %}
                {{ value }},
            {% endfor %}
        ];

        dates.reverse();
        {#dataValues.reverse(); // نیز باید برعکس شوند#}

        console.log(dataValues); // چاپ داده‌ها برای بررسی

        var backgroundColors = Array(dates.length).fill('rgba(75, 192, 192, 1)');
        var borderColors = Array(dates.length).fill('rgba(75, 192, 192, 1)');

        var data = {
            labels: dates,
            datasets: [{
                label: 'عملکرد روزانه',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        var options = {
            scales: {
                y: {
                    beginAtZero: false // به منظور نمایش مقادیر منفی
                }
            }
        };

        drawChart('Chart4', 'bar', data, options);
    </script>


    // نمودار های dash
    {#            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}
    <script src="{% static 'js/plotly/plotly-latest.min.js' %}"></script>

{% endblock %}


{% block date %}


{% endblock %}



