

{% load humanize %}






                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <h5 class="card-title pb-0 border-0 ">چک های دارای مانده</h5>
                        <h5 class="card-title pb-0 border-0 ">{{ max_cheque|floatformat:0|intcomma:False }}</h5>
                        <div class="text-center mb-4">
                            <h2>{{ month_name }} {{ year }}</h2>
                        </div>
                        <div class="calendar-header">
                            <button id="prev-month" class="btn btn-secondary">&lt;</button>
                            <span>{{ month_name }} {{ year }}</span>
                            <button id="next-month" class="btn btn-secondary">&gt;</button>
                        </div>
                        <table class="table table-bordered calendar-table">
                            <thead class="thead-light">
                            <tr class="text-center">
                                <th>شنبه</th>
                                <th>یکشنبه</th>
                                <th>دوشنبه</th>
                                <th>سه‌شنبه</th>
                                <th>چهارشنبه</th>
                                <th>پنج‌شنبه</th>
                                <th>جمعه</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for week in days_in_month %}
                                <tr>
                                    {% for day in week %} {% if day %}
                                        <td>
                                            <div class="fc-day-top">
                                                <span class="fc-day-number"><h5>{{ day.jday }}</h5></span>
                                                <span class="fc-recive-number">{{ day.recive|floatformat:0|intcomma:False }}</span>
                                                <div class="progress mb-3">
                                                    <div class="progress-bar progress-bar-striped bg-primary"
                                                         role="progressbar"
                                                         style="width: {% widthratio day.recive max_cheque 100 %}%"
                                                         aria-valuenow="{{ day.recive }}" aria-valuemin="0"
                                                         aria-valuemax="{{ max_cheque }}"></div>
                                                </div>
                                                <span class="fc-pay-number">{{ day.pay|floatformat:0|intcomma:False }}</span>
                                                <div class="progress mb-3">
                                                    <div class="progress-bar progress-bar-striped bg-danger"
                                                         role="progressbar"
                                                         style="width: {% widthratio day.pay max_cheque 100 %}%"
                                                         aria-valuenow="{{ day.pay }}" aria-valuemin="0"
                                                         aria-valuemax="{{ max_cheque }}"></div>
                                                </div>
                                            </div>
                                        </td>                                        {% else %}
                                        <td>

                                        </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>










    <script>

        $(document).ready(function () {
            var currentYear = {{ year }};
            var currentMonth = {{ month }};
            var url = `/`;

            console.log("Initial setup");
            console.log("Current Year: " + currentYear);
            console.log("Current Month: " + currentMonth);
            console.log("Initial URL: " + url);

            function loadCalendar(month, year) {
                console.log("Loading calendar for month: " + month + ", year: " + year);
                console.log("URL being used for AJAX call: " + url);

                $.ajax({
                    url: url,
                    type: 'GET',
                    data: {month: month, year: year},
                    success: function (data) {
                        console.log("AJAX call success");
                        $('#calendarf').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading calendar: ', error);
                        console.error('XHR:', xhr);
                        console.error('Status:', status);
                    }
                });
            }

            $('#prev-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 1) {
                    currentMonth = 12;
                    currentYear -= 1;
                } else {
                    currentMonth -= 1;
                }
                console.log("Previous month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });

            $('#next-month').click(function (e) {
                e.preventDefault();
                if (currentMonth === 12) {
                    currentMonth = 1;
                    currentYear += 1;
                } else {
                    currentMonth += 1;
                }
                console.log("Next month clicked. New Month: " + currentMonth + ", Year: " + currentYear);
                loadCalendar(currentMonth, currentYear);
            });
        });


    </script>
