{% extends 'shared/_MainLayout.html' %}
{% load humanize %}
{% load static %}
{% load jalali_tags %} {# برای فیلتر to_jalali در نمایش تاریخ بالای صفحه #}

{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100 admin-followers">
                    <div class="card-body">
                        <canvas id="Chart3" height="250"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100 admin-followers">
                    <div class="card-body">
                        <canvas id="Chart4" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100 admin-followers">
                    <div class="card-body">
                        <canvas id="Chart5" height="250"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mb-30">
                <div class="card card-statistics h-100 admin-followers">
                    <div class="card-body">
{#                        <canvas id="Chart6" height="250"></canvas>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block date %} {# نام بلاک را به "scripts" یا "extra_scripts" تغییر دهید تا با بلاک "date" استاندارد تداخل نداشته باشد، اما فعلا با همین نام ادامه می‌دهیم #}
<script>
    var myCharts = {};

    function drawChart(canvasId, type, data, options) {
        var ctx = document.getElementById(canvasId);
        if (!ctx) {
            console.error("Canvas element with ID '" + canvasId + "' not found. Chart drawing cancelled for:", canvasId);
            return;
        }
        ctx = ctx.getContext('2d');

        if (myCharts[canvasId]) {
            myCharts[canvasId].destroy();
        }
        myCharts[canvasId] = new Chart(ctx, {
            type: type,
            data: data,
            options: options
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        // --- تنظیمات سراسری برای فارسی سازی Chart.js ---
        Chart.defaults.font.family = 'IRANSans, Arial, sans-serif';
        Chart.defaults.plugins.tooltip.rtl = true;
        Chart.defaults.plugins.legend.rtl = true;
        Chart.defaults.plugins.title.rtl = true;


        // --------------------------------------------------------------------------------
        // Chart3: خالص فروش ماهانه
        var chart3_labels_data_raw = document.getElementById('chart-labels-khales-forosh-by-year-data').textContent;
        var chart3_datasets_data_raw = document.getElementById('chart-datasets-khales-forosh-by-year-data').textContent;

        var chart_labels = JSON.parse(chart3_labels_data_raw); // لیبل‌ها برای همه نمودارها یکسان هستند
        var chart3_datasets = JSON.parse(chart3_datasets_data_raw);

        var chart3_data = {
            labels: chart_labels,
            datasets: chart3_datasets
        };

        var chart3_options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    rtl: true,
                    labels: { usePointStyle: true, font: { size: 14 } }
                },
                title: {
                    display: true,
                    text: 'خالص فروش ماهانه (میلیارد تومان)',
                    rtl: true,
                    font: { size: 16 }
                },
                tooltip: {
                    rtl: true,
                    callbacks: {
                        title: function(tooltipItems) { return tooltipItems[0].label; },
                        label: function(tooltipItem) {
                            let label = tooltipItem.dataset.label || '';
                            if (label) {
                                label = label.replace('خالص فروش ', '');
                                label += ': ';
                            }
                            label += tooltipItem.raw.toLocaleString('fa-IR');
                            return label;
                        }
                    }
                }
            },
            scales: {
                x: {
                    stacked: false,
                    title: { display: true, text: 'ماه ', rtl: true, font: { size: 14 } },
                    ticks: { font: { size: 12 } },
                    barPercentage: 0.8,
                    categoryPercentage: 0.8,
                },
                y: {
                    beginAtZero: true,
                    stacked: false,
                    ticks: {
                        callback: function(value, index, values) { return value.toLocaleString('fa-IR'); },
                        font: { size: 12 }
                    },
                    title: { display: true, text: 'میلیارد تومان', rtl: true, font: { size: 14 } }
                }
            }
        };
        drawChart('Chart3', 'bar', chart3_data, chart3_options);

        // --------------------------------------------------------------------------------
        // Chart4: بهای تمام شده کالای فروخته شده ماهانه
        var chart4_datasets_data_raw = document.getElementById('chart-datasets-baha-tamam-forosh-by-year-data').textContent;
        var chart4_datasets = JSON.parse(chart4_datasets_data_raw);

        var chart4_data = {
            labels: chart_labels,
            datasets: chart4_datasets
        };

        var chart4_options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    rtl: true,
                    labels: { usePointStyle: true, font: { size: 14 } }
                },
                title: {
                    display: true,
                    text: 'بهای تمام شده کالای فروخته شده ماهانه (میلیارد تومان)',
                    rtl: true,
                    font: { size: 16 }
                },
                tooltip: {
                    rtl: true,
                    callbacks: {
                        title: function(tooltipItems) { return tooltipItems[0].label; },
                        label: function(tooltipItem) {
                            let label = tooltipItem.dataset.label || '';
                            if (label) {
                                label = label.replace('بهای تمام شده فروش ', '');
                                label += ': ';
                            }
                            label += tooltipItem.raw.toLocaleString('fa-IR');
                            return label;
                        }
                    }
                }
            },
            scales: {
                x: {
                    stacked: false,
                    title: { display: true, text: 'ماه ', rtl: true, font: { size: 14 } },
                    ticks: { font: { size: 12 } },
                    barPercentage: 0.8,
                    categoryPercentage: 0.8,
                },
                y: {
                    beginAtZero: true,
                    stacked: false,
                    ticks: {
                        callback: function(value, index, values) { return value.toLocaleString('fa-IR'); },
                        font: { size: 12 }
                    },
                    title: { display: true, text: 'میلیارد تومان', rtl: true, font: { size: 14 } }
                }
            }
        };
        drawChart('Chart4', 'bar', chart4_data, chart4_options);

        // --------------------------------------------------------------------------------
        // Chart5: سود ناویژه ماهانه
        var chart5_datasets_data_raw = document.getElementById('chart-datasets-sood-navizhe-by-year-data').textContent;
        var chart5_datasets = JSON.parse(chart5_datasets_data_raw);

        var chart5_data = {
            labels: chart_labels,
            datasets: chart5_datasets
        };

        var chart5_options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    rtl: true,
                    labels: { usePointStyle: true, font: { size: 14 } }
                },
                title: {
                    display: true,
                    text: 'سود ناویژه ماهانه (میلیارد تومان)',
                    rtl: true,
                    font: { size: 16 }
                },
                tooltip: {
                    rtl: true,
                    callbacks: {
                        title: function(tooltipItems) { return tooltipItems[0].label; },
                        label: function(tooltipItem) {
                            let label = tooltipItem.dataset.label || '';
                            if (label) {
                                label = label.replace('سود ناویژه ', '');
                                label += ': ';
                            }
                            label += tooltipItem.raw.toLocaleString('fa-IR');
                            return label;
                        }
                    }
                }
            },
            scales: {
                x: {
                    stacked: false,
                    title: { display: true, text: 'ماه ', rtl: true, font: { size: 14 } },
                    ticks: { font: { size: 12 } },
                    barPercentage: 0.8,
                    categoryPercentage: 0.8,
                },
                y: {
                    beginAtZero: true,
                    stacked: false,
                    ticks: {
                        callback: function(value, index, values) { return value.toLocaleString('fa-IR'); },
                        font: { size: 12 }
                    },
                    title: { display: true, text: 'میلیارد تومان', rtl: true, font: { size: 14 } }
                }
            }
        };
        drawChart('Chart5', 'bar', chart5_data, chart5_options);

        // --------------------------------------------------------------------------------
        // Chart6: سود ویژه ماهانه
        var chart6_datasets_data_raw = document.getElementById('chart-datasets-sood-vizhe-by-year-data').textContent;
        var chart6_datasets = JSON.parse(chart6_datasets_data_raw);

        var chart6_data = {
            labels: chart_labels,
            datasets: chart6_datasets
        };

        var chart6_options = {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                    rtl: true,
                    labels: { usePointStyle: true, font: { size: 14 } }
                },
                title: {
                    display: true,
                    text: 'سود ویژه ماهانه (میلیارد تومان)',
                    rtl: true,
                    font: { size: 16 }
                },
                tooltip: {
                    rtl: true,
                    callbacks: {
                        title: function(tooltipItems) { return tooltipItems[0].label; },
                        label: function(tooltipItem) {
                            let label = tooltipItem.dataset.label || '';
                            if (label) {
                                label = label.replace('سود ویژه ', '');
                                label += ': ';
                            }
                            label += tooltipItem.raw.toLocaleString('fa-IR');
                            return label;
                        }
                    }
                }
            },
            scales: {
                x: {
                    stacked: false,
                    title: { display: true, text: 'ماه ', rtl: true, font: { size: 14 } },
                    ticks: { font: { size: 12 } },
                    barPercentage: 0.8,
                    categoryPercentage: 0.8,
                },
                y: {
                    beginAtZero: true,
                    stacked: false,
                    ticks: {
                        callback: function(value, index, values) { return value.toLocaleString('fa-IR'); },
                        font: { size: 12 }
                    },
                    title: { display: true, text: 'میلیارد تومان', rtl: true, font: { size: 14 } }
                }
            }
        };
        drawChart('Chart6', 'bar', chart6_data, chart6_options);

    });
</script>

{# اسکریپت‌های JSON برای انتقال داده‌ها از Django به JavaScript #}
{{ chart_labels_khales_forosh_by_year|json_script:"chart-labels-khales-forosh-by-year-data" }}
{{ chart_datasets_khales_forosh_by_year|json_script:"chart-datasets-khales-forosh-by-year-data" }}
{{ chart_datasets_baha_tamam_forosh_by_year|json_script:"chart-datasets-baha-tamam-forosh-by-year-data" }}
{{ chart_datasets_sood_navizhe_by_year|json_script:"chart-datasets-sood-navizhe-by-year-data" }}
{{ chart_datasets_sood_vizhe_by_year|json_script:"chart-datasets-sood-vizhe-by-year-data" }}

{% endblock %}