<table>
    <thead>
        <tr>
            <th>نام کالا</th>
            <th>تعداد</th>
            <th>قیمت میانگین</th>
            <th>ارزش</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in mojodi %}
        <tr>
            <td>{{ entry.kala.name }}</td>
            <td>{{ entry.count }}</td>
            <td>{{ entry.averageprice }}</td>
            <td>{{ entry.arzesh }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">هیچ رکوردی یافت نشد.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>